@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.ttf?x7c0h8");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.woff?v=4.0.3");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Material-Design-Icons';
  src: url("../fonts/Material-Design-Icons.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.woff"); }
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0; }

html {
  height: 100%; }

body {
  font-family: "Poppins", sans-serif;
  color: #333645;
  letter-spacing: .4px;
  margin: 0px;
  overscroll-behavior-y: none;
  overflow: hidden;
  height: 100%; }

button {
  font-family: "Poppins", sans-serif; }

input {
  font-family: "Poppins", sans-serif; }

a {
  text-decoration: none;
  color: #333645; }

h1 {
  font-size: 4rem;
  line-height: 5rem; }

h2 {
  line-height: 1.1;
  font-size: 2.25rem; }

h3 {
  font-size: 1.625rem; }

p {
  line-height: 1.875rem;
  margin: 0 0 25px; }

ul {
  padding: 0; }

li {
  list-style: none; }

section {
  padding-top: 50px;
  padding-bottom: 50px; }

article {
  transition: .5s ease;
  position: relative; }

.heading-services {
  align-items: end; }
.heading-news {
  align-items: start; }

.header-top {
  padding: 20px 0; }

.header-sticky {
  position: fixed;
  top: -100%;
  z-index: 9;
  right: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  transition: right .5s; }
  .header-sticky.sidebar-active {
    right: 275px; }
    @media screen and (min-width: 992px) {
      .header-sticky.sidebar-active {
        right: 350px; } }

.row {
  margin-left: -15px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  height: 70px; }
  .row .logo-header {
    margin-right: auto;
    padding-left: 15px;
    display: block;
    max-height: 100%;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .row .logo-header {
        padding-right: 15px;
        width: calc((100% + 15px) / 2); } }
    @media screen and (min-width: 992px) {
      .row .logo-header {
        width: calc((100% + 15px) * 5 / 12); } }
    @media screen and (min-width: 1260px) {
      .row .logo-header {
        width: calc((100% + 15px) / 3); } }
    .row .logo-header .logo-inner {
      display: flex;
      height: 100%;
      justify-content: left; }
    .row .logo-header img {
      object-fit: contain;
      object-position: left;
      aspect-ratio: auto; }

.link-mobile {
  margin-left: -5px; }
  @media screen and (min-width: 768px) {
    .link-mobile {
      display: none; } }

.header-article {
  position: relative;
  margin-bottom: -6.5px; }
  .header-article .tag {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 10px; }
    .header-article .tag-bespoke-software {
      background-color: #67809f; }
    .header-article .tag-it-support {
      background-color: #4183d7; }
    .header-article .tag-digital-marketing {
      background-color: #2ecc71; }
    .header-article .tag-telecoms-services {
      background-color: #d64541; }
    .header-article .tag-web-design {
      background-color: #926fb1; }
    .header-article .tag-cyber-security {
      background-color: #f62459; }
    .header-article .tag-developer-training {
      background-color: #ce4125; }

.modal-header {
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5; }
  .modal-header h3 {
    font-weight: 400;
    line-height: 1.42857143; }

.container {
  padding: 0px 15px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media screen and (min-width: 1260px) {
    .container {
      width: 1200px; } }
  .container-branding {
    display: flex;
    flex-direction: column;
    gap: 50px; }
    .container-branding div {
      flex: 1; }
    @media screen and (min-width: 992px) {
      .container-branding {
        flex-direction: row;
        gap: 30px; } }

.article-news {
  position: relative;
  top: 0;
  flex: 1; }
  @media screen and (min-width: 768px) {
    .article-news h3 {
      min-height: 3rem; } }
  @media screen and (min-width: 768px) and (max-width: 1259px) {
    .article-news:last-child {
      display: none; } }

.article-content {
  padding: 30px;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  font-size: .8125rem;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1); }
  .article-content h3 {
    margin-bottom: 15px; }

.branding {
  background-color: #333645;
  color: #fff; }
  .branding a {
    color: #fff;
    text-wrap: nowrap; }
  .branding strong {
    font-weight: 600; }

.client-quote {
  margin: 0px; }

.star-rating {
  margin-bottom: 25px; }

.client {
  margin-bottom: 50px; }

.top-link {
  display: none; }
  @media screen and (min-width: 768px) {
    .top-link {
      display: block; } }

.services {
  position: relative; }

.btm-link-services {
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0; }
.btm-link-news {
  margin: 50px auto 0; }

.card {
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 15px; }
  .card a {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px; }
  .card .btn {
    margin-top: auto; }

.cards-services {
  display: grid;
  gap: 30px; }
  @media screen and (min-width: 768px) {
    .cards-services {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "bespoke-software bespoke-software" "it-support it-support" "digital-marketing digital-marketing" "telecoms-services web-design" "cyber-security developer-training"; } }
  @media screen and (min-width: 992px) {
    .cards-services {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "bespoke-software bespoke-software it-support it-support digital-marketing digital-marketing" "telecoms-services telecoms-services telecoms-services web-design web-design web-design" "cyber-security cyber-security cyber-security developer-training developer-training developer-training"; } }
  @media screen and (min-width: 1260px) {
    .cards-services {
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "bespoke-software bespoke-software bespoke-software bespoke-software it-support it-support it-support it-support digital-marketing digital-marketing digital-marketing digital-marketing" "telecoms-services telecoms-services telecoms-services web-design web-design web-design cyber-security cyber-security cyber-security developer-training developer-training developer-training"; } }

@media screen and (min-width: 768px) {
  .card-bespoke-software {
    grid-area: bespoke-software; } }

.wrapper-bespoke-software {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #67809f;
  margin-bottom: 17px; }

@media screen and (min-width: 768px) {
  .card-it-support {
    grid-area: it-support; } }

.wrapper-it-support {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #4183d7;
  margin-bottom: 17px; }

@media screen and (min-width: 768px) {
  .card-digital-marketing {
    grid-area: digital-marketing; } }

.wrapper-digital-marketing {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #2ecc71;
  margin-bottom: 17px; }

@media screen and (min-width: 768px) {
  .card-telecoms-services {
    grid-area: telecoms-services; } }

.wrapper-telecoms-services {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #d64541;
  margin-bottom: 17px; }

@media screen and (min-width: 768px) {
  .card-web-design {
    grid-area: web-design; } }

.wrapper-web-design {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #926fb1;
  margin-bottom: 17px; }

@media screen and (min-width: 768px) {
  .card-cyber-security {
    grid-area: cyber-security; } }

.wrapper-cyber-security {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #f62459;
  margin-bottom: 17px; }

@media screen and (min-width: 768px) {
  .card-developer-training {
    grid-area: developer-training; } }

.wrapper-developer-training {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #ce4125;
  margin-bottom: 17px; }

.banners {
  padding: 0; }

.carousel {
  position: relative; }
  .carousel-technology-company {
    padding: 0;
    min-height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/backgrounds/technology-company.webp);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center; }
    .carousel-technology-company h1 {
      margin-bottom: 1.25rem; }
    .carousel-technology-company p {
      margin-bottom: 2.313rem; }
    .carousel-technology-company a {
      margin-bottom: 1.125rem; }
    @media screen and (min-width: 992px) {
      .carousel-technology-company {
        background-color: black;
        background: url("../img/backgrounds/technology-company.webp");
        background-size: cover;
        background-position: center; }
        .carousel-technology-company::before {
          content: "";
          z-index: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(270deg, transparent 25%, black);
          background-size: cover;
          background-position: center; } }
  .carousel-bespoke-software {
    padding: 0;
    min-height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/backgrounds/bespoke-software.webp);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center; }
    .carousel-bespoke-software h1 {
      margin-bottom: 1.25rem; }
    .carousel-bespoke-software p {
      margin-bottom: 2.313rem; }
    .carousel-bespoke-software a {
      margin-bottom: 1.125rem; }
    @media screen and (min-width: 992px) {
      .carousel-bespoke-software {
        background-color: black;
        background: url("../img/backgrounds/bespoke-software.webp");
        background-size: cover;
        background-position: center; }
        .carousel-bespoke-software::before {
          content: "";
          z-index: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(270deg, transparent 25%, black);
          background-size: cover;
          background-position: center; } }
  .carousel-it-support {
    padding: 0;
    min-height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/backgrounds/it-support.webp);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center; }
    .carousel-it-support h1 {
      margin-bottom: 1.25rem; }
    .carousel-it-support p {
      margin-bottom: 2.313rem; }
    .carousel-it-support a {
      margin-bottom: 1.125rem; }
    @media screen and (min-width: 992px) {
      .carousel-it-support {
        background-color: black;
        background: url("../img/backgrounds/it-support.webp");
        background-size: cover;
        background-position: center; }
        .carousel-it-support::before {
          content: "";
          z-index: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(270deg, transparent 25%, black);
          background-size: cover;
          background-position: center; } }
  .carousel-digital-marketing {
    padding: 0;
    min-height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/backgrounds/digital-marketing.webp);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center; }
    .carousel-digital-marketing h1 {
      margin-bottom: 1.25rem; }
    .carousel-digital-marketing p {
      margin-bottom: 2.313rem; }
    .carousel-digital-marketing a {
      margin-bottom: 1.125rem; }
    @media screen and (min-width: 992px) {
      .carousel-digital-marketing {
        background-color: black;
        background: url("../img/backgrounds/digital-marketing.webp");
        background-size: cover;
        background-position: center; }
        .carousel-digital-marketing::before {
          content: "";
          z-index: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(270deg, transparent 25%, black);
          background-size: cover;
          background-position: center; } }
  .carousel-telecoms-services {
    padding: 0;
    min-height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/backgrounds/telecoms-services.webp);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center; }
    .carousel-telecoms-services h1 {
      margin-bottom: 1.25rem; }
    .carousel-telecoms-services p {
      margin-bottom: 2.313rem; }
    .carousel-telecoms-services a {
      margin-bottom: 1.125rem; }
    @media screen and (min-width: 992px) {
      .carousel-telecoms-services {
        background-color: black;
        background: url("../img/backgrounds/telecoms-services.webp");
        background-size: cover;
        background-position: center; }
        .carousel-telecoms-services::before {
          content: "";
          z-index: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(270deg, transparent 25%, black);
          background-size: cover;
          background-position: center; } }
  .carousel-web-design {
    padding: 0;
    min-height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/backgrounds/web-design.webp);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center; }
    .carousel-web-design h1 {
      margin-bottom: 1.25rem; }
    .carousel-web-design p {
      margin-bottom: 2.313rem; }
    .carousel-web-design a {
      margin-bottom: 1.125rem; }
    @media screen and (min-width: 992px) {
      .carousel-web-design {
        background-color: black;
        background: url("../img/backgrounds/web-design.webp");
        background-size: cover;
        background-position: center; }
        .carousel-web-design::before {
          content: "";
          z-index: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(270deg, transparent 25%, black);
          background-size: cover;
          background-position: center; } }
  .carousel-cyber-security {
    padding: 0;
    min-height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/backgrounds/cyber-security.webp);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center; }
    .carousel-cyber-security h1 {
      margin-bottom: 1.25rem; }
    .carousel-cyber-security p {
      margin-bottom: 2.313rem; }
    .carousel-cyber-security a {
      margin-bottom: 1.125rem; }
    @media screen and (min-width: 992px) {
      .carousel-cyber-security {
        background-color: black;
        background: url("../img/backgrounds/cyber-security.webp");
        background-size: cover;
        background-position: center; }
        .carousel-cyber-security::before {
          content: "";
          z-index: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(270deg, transparent 25%, black);
          background-size: cover;
          background-position: center; } }
  .carousel .slick-list {
    padding: 0; }

.container-carousel {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  height: 100%; }
  @media screen and (min-width: 992px) {
    .container-carousel {
      align-items: start;
      text-align: left; } }

.wrapper-news {
  display: flex;
  flex-direction: column;
  gap: 30px; }
  @media screen and (min-width: 768px) {
    .wrapper-news {
      flex-direction: row; } }

.link-article {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }

.newsletter {
  background-color: #ddd; }

.owl-stage {
  display: flex;
  overflow-x: clip;
  height: 70px; }
  .owl-stage .slick-list {
    overflow-x: clip;
    overflow-y: visible;
    padding-left: 20px; }
  .owl-stage .slick-track {
    height: 100%; }

.slick-initialized .slick-slide {
  display: flex; }

.owl-item {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 90px; }
  .owl-item img {
    filter: grayscale(1);
    width: auto;
    max-width: 200px;
    max-height: 100%; }

.owl-description {
  display: none;
  position: absolute;
  right: -200px;
  bottom: 100%;
  left: -200px; }
  .owl-description .box {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    max-width: 280px;
    margin: 0 auto 50px;
    text-align: center; }
    .owl-description .box h3 {
      font-size: 1.125rem;
      padding-bottom: 17px;
      line-height: 1.1;
      font-weight: 400; }
    .owl-description .box .no-description {
      padding: 0 !important; }
    .owl-description .box p {
      font-size: .8125rem;
      line-height: 1.375rem;
      margin: 0; }
    .owl-description .box a {
      color: #fff;
      margin-top: 11px; }
    .owl-description .box .icon-rarrow-btn {
      font-size: 16px; }

.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -36px; }
  .arrow::after {
    content: "";
    margin: auto;
    display: inline-block;
    border-color: #333645 transparent transparent;
    border-style: solid;
    border-width: 35px 36px 0; }

.news {
  padding-bottom: 35px; }
  @media screen and (min-width: 768px) {
    .news {
      padding-bottom: 50px; } }

.partners {
  padding-top: 50px;
  padding-bottom: 50px; }

.cookie-wrapper {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  display: flex;
  justify-content: center;
  overflow: scroll; }
.cookie-modal {
  display: table;
  margin: auto 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }
  @media screen and (min-width: 768px) {
    .cookie-modal {
      width: 600px; } }

.no-show .cookie-wrapper {
  display: none; }

.modal-content {
  padding: 20px;
  color: #666; }

.sidebar {
  background-color: #333645;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  height: 100%;
  width: 275px;
  overflow: auto; }
  @media screen and (min-width: 992px) {
    .sidebar {
      width: 350px; } }

.content {
  position: relative;
  overflow: hidden;
  height: 100%;
  z-index: 10;
  background-color: white;
  right: 0;
  transition: all .5s; }
  .content-inner {
    height: 100%;
    overflow: auto; }
  .content::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity .5s; }
  .content.sidebar-active {
    right: 275px;
    cursor: pointer; }
    .content.sidebar-active::after {
      width: 100%;
      height: 100%;
      opacity: 1; }
    @media screen and (min-width: 992px) {
      .content.sidebar-active {
        right: 350px; } }

.location-container {
  padding: 0; }

.breadcrumb-wrapper {
  display: none; }
  @media screen and (min-width: 768px) {
    .breadcrumb-wrapper {
      display: block; } }

.office-title {
  background-color: #333645;
  padding: 24px 0;
  margin-bottom: 50px; }
.office-cards {
  margin-top: 80px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr; }
.office-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; }
.office-details {
  display: flex;
  padding: 30px;
  gap: 15px;
  flex-direction: column;
  align-items: start; }
  .office-details p {
    margin: 0; }
.office-img {
  width: 100%;
  height: auto; }
  .office-img-link {
    display: flex; }

.contact-us-container {
  padding-top: 44px; }

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px; }
  .contact-info p {
    margin: 0; }

.dropdown {
  font-weight: 600; }

#dropdown-content {
  display: none; }

.footer-main {
  padding-top: 27px;
  background-color: #323544; }
  @media screen and (min-width: 1260px) {
    .footer-main {
      padding-top: 47px; } }
  .footer-main h4 {
    margin-bottom: 26px;
    line-height: 17.6px; }

.footer-article {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 20px; }
  .footer-article strong {
    display: block; }

.socials {
  display: flex;
  width: 234px;
  gap: 10px;
  flex-wrap: wrap; }
  .socials .btn {
    flex: 1 calc((100% - 10px * (2 - 1)) / 2); }
  @media screen and (min-width: 481px) {
    .socials {
      width: 300px;
      flex-wrap: nowrap; }
      .socials .btn {
        flex: 0; } }
  @media screen and (min-width: 1260px) {
    .socials {
      gap: 7px; } }

.info-footer {
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .info-footer {
      padding-bottom: 10px; } }

.footer-bottom {
  background-color: #212330;
  padding-top: 10px; }

.p-footer {
  margin-bottom: 0;
  color: #fff; }
  .p-footer span:last-of-type::before {
    content: "- "; }

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 0px 80px; }
  @media screen and (min-width: 1260px) {
    .container-footer {
      flex-direction: row; } }

.modal-footer {
  padding: 19px 20px 20px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 30px; }
  @media screen and (min-width: 768px) {
    .modal-footer {
      flex-direction: row; } }
  .modal-footer .btn {
    flex: 1;
    align-items: center;
    justify-content: center; }

.branding-title {
  margin: -6px 0 40px; }

.quote strong {
  font-style: italic;
  font-size: 1.3rem; }

.client {
  font-weight: 600; }
  .client cite {
    color: #a3a8ac;
    font-style: normal;
    font-size: 1.1rem; }

.header-services {
  display: inline;
  font-size: 2.7rem; }

.header-news {
  display: inline;
  font-size: 2.25rem; }

.card h2 {
  font-size: 1.3rem;
  padding-bottom: 10px;
  margin: 0 0 11px;
  font-weight: 400; }
.card p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px; }

.btn-cookie {
  line-height: 22px;
  font-weight: 600;
  font-size: .8rem;
  text-transform: capitalize;
  color: #fff; }

.carousel {
  color: #fff; }
  .carousel h1 {
    font-size: 2.5rem;
    line-height: 3rem; }
    @media screen and (min-width: 992px) {
      .carousel h1 {
        font-size: 4rem;
        line-height: 5rem; } }
  .carousel p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600; }
    @media screen and (min-width: 992px) {
      .carousel p {
        font-size: 1.625rem;
        line-height: 2.5rem; } }
  .carousel a {
    font-size: 1.25rem; }

.tag {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: .75rem;
  line-height: 1.438rem;
  z-index: 1; }

.article-content {
  color: #666; }
  .article-content h3 {
    font-size: 1rem;
    line-height: 1.5rem; }
  .article-content p {
    line-height: 1.375rem;
    font-size: .8125rem; }
  .article-content .read-time {
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(51, 54, 69, 0.5);
    font-size: .85rem; }

.title-bespoke-software {
  color: #67809f; }

.title-it-support {
  color: #4183d7; }

.title-digital-marketing {
  color: #2ecc71; }

.title-telecoms-services {
  color: #d64541; }

.title-web-design {
  color: #926fb1; }

.title-cyber-security {
  color: #f62459; }

.title-developer-training {
  color: #ce4125; }

.footer-article {
  font-size: .875rem;
  line-height: 1.375rem; }
  .footer-article strong {
    color: black;
    font-weight: 600; }

.footer-main h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400; }

.p-footer {
  display: flex;
  font-size: .8125rem;
  line-height: 1.42857143;
  flex-direction: column;
  padding: 5px 0 10px;
  justify-content: flex-start;
  align-items: start; }
  @media screen and (min-width: 768px) {
    .p-footer {
      display: inline-block;
      margin-top: -2px; } }
  .p-footer span {
    color: #fff; }
    .p-footer span:last-of-type {
      line-height: 1.375rem;
      margin-top: -2px; }
      @media screen and (min-width: 768px) {
        .p-footer span:last-of-type {
          margin-left: -3px; } }
  .p-footer a {
    color: #fff; }
  .p-footer span:last-of-type::before {
    content: "-";
    margin-right: 9px;
    margin-left: 9px;
    display: none; }
    @media screen and (min-width: 768px) {
      .p-footer span:last-of-type::before {
        display: inline; } }

.office-title {
  color: #fff; }
  .office-title h2 {
    font-size: 2.25rem;
    font-weight: 400; }
.office-details p {
  font-size: .8125rem;
  line-height: 1.375rem; }
.office-card-title {
  font-size: 1.25rem;
  line-height: 1.1; }
.office-contact-link {
  color: #926fb1;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.1; }

.contact-info .office-contact-link, .contact-info strong {
  font-weight: 600; }

.out-of-hours p {
  color: #666; }
.out-of-hours strong {
  color: #333645;
  font-weight: 600; }

.icon-rarrow-link::before, .icon-rarrow-btn::before {
  content: ""; }

h1, h2, h3 {
  font-weight: 600; }

.form-header input, .inputs-newsletter input {
  height: 56px;
  padding: 5px 15px;
  background-color: white;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.btm-link-services, .btm-link-news {
  display: block;
  text-align: center;
  line-height: 1.1; }
  @media screen and (min-width: 768px) {
    .btm-link-services, .btm-link-news {
      display: none; } }

.heading-services, .heading-news {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px; }
  .heading-services h2, .heading-news h2 {
    margin-right: auto; }

.btn {
  text-transform: uppercase;
  display: inline-flex;
  color: #fff;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  background-color: #333645;
  font-size: 1.063rem;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle; }
  .btn-prim {
    background-color: #272936;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 20px; }
  .btn-header {
    display: none;
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem; }
    @media screen and (min-width: 992px) {
      .btn-header {
        display: flex;
        align-items: center;
        gap: 5px; } }
  .btn-cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #75788a;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    border-radius: 0 10px 0 0;
    padding: 0 10px; }
  .btn-chat {
    position: fixed;
    padding: 0;
    right: 25px;
    bottom: 25px;
    z-index: 101;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #333645;
    border: none;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center; }
    .btn-chat svg {
      width: 80%;
      padding: 11px;
      fill: #fff; }
      .btn-chat svg rect {
        fill: #333645; }
  .btn-hamburger {
    border: none;
    display: flex;
    align-items: center;
    height: 56px; }
  .btn-search-header {
    display: inline-block;
    outline: none;
    padding: 7px 20px 3px;
    height: 56px;
    font-size: 1.063rem;
    border-radius: 0 3px 3px 0;
    border: none;
    vertical-align: bottom;
    color: #fff; }
    @media screen and (min-width: 992px) and (max-width: 1259px) {
      .btn-search-header {
        border-radius: 3px; } }
  .btn-search-mobile {
    background: none;
    border: none;
    color: #333645;
    position: absolute;
    right: 5px;
    line-height: 47px;
    font-size: 20px;
    outline: none; }
  .btn-facebook {
    border: none; }
  .btn-linkedin {
    border: none; }
  .btn-twitter {
    border: none; }
  .btn-instagram {
    border: none; }
  .btn-google {
    border: none;
    background-color: #4387f6; }
  .btn-trustpilot {
    border: none;
    background-color: #00b67b; }
  .btn-support {
    background-color: #4183d7; }
  .btn-contact {
    background-color: #999aa2; }
  .btn-search-header {
    background-color: #999aa2; }
  .btn-carousel {
    background-color: #f62459;
    padding: 5px 20px;
    line-height: 50px; }
    .btn-carousel i {
      line-height: 50px; }
  .btn-case-study {
    font-size: 16px; }
  .btn-settings {
    background-color: #999aa2;
    border-color: #999aa2; }
  .btn-accept {
    background-color: #926fb1;
    border-color: #926fb1; }
  .btn-office-card {
    padding: 5px 30px;
    background-color: #926fb1;
    font-size: .9rem;
    line-height: 35px; }

.no-show .btn-chat {
  display: flex; }

.btns {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 17px 9.5px; }
  .btns-quote {
    gap: 20px 12.5px; }

.btn-bespoke-software {
  background-color: #67809f; }

.btn-it-support {
  background-color: #4183d7; }

.btn-digital-marketing {
  background-color: #2ecc71; }

.btn-telecoms-services {
  background-color: #d64541; }

.btn-web-design {
  background-color: #926fb1; }

.btn-cyber-security {
  background-color: #f62459; }

.btn-developer-training {
  background-color: #ce4125; }

.btn-facebook {
  background-color: #212330;
  align-items: center;
  justify-content: center;
  padding: 12px 22px 16px;
  border-radius: 0; }

.btn-linkedin {
  background-color: #212330;
  align-items: center;
  justify-content: center;
  padding: 12px 22px 16px;
  border-radius: 0; }

.btn-twitter {
  background-color: #212330;
  align-items: center;
  justify-content: center;
  padding: 12px 22px 16px;
  border-radius: 0; }

.btn-instagram {
  background-color: #212330;
  align-items: center;
  justify-content: center;
  padding: 12px 22px 16px;
  border-radius: 0; }

.dots {
  position: absolute;
  right: 0;
  bottom: 49.925px;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 1; }
  .dots li {
    padding: 0 10px;
    display: inline-block;
    user-select: none; }
  .dots .slick-active .dot {
    background-color: #fff; }
    .dots .slick-active .dot::after {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      background: transparent;
      border: 2px solid #fff; }

.dot {
  display: block;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background: rgba(255, 255, 255, 0.5);
  position: relative; }
  .dot-wrapper {
    padding: 0 10px;
    display: inline-block;
    user-select: none; }
  .dot-active {
    background-color: #fff; }
    .dot-active::after {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      background: transparent;
      border: 2px solid #fff; }

.hamburger-box {
  width: 33px;
  height: 19px;
  display: inline-block;
  position: relative; }
.hamburger-inner {
  width: 33px;
  height: 4px;
  position: absolute;
  background-color: #fff;
  display: block;
  top: 50%;
  margin-top: -1.5px;
  transition-duration: .22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger-inner::before {
    content: '';
    top: -10px;
    opacity: 1;
    width: 33px;
    height: 4px;
    position: absolute;
    background-color: #fff;
    display: block;
    transition: top .1s ease-in .25s,opacity .1s ease-in; }
  .hamburger-inner::after {
    content: '';
    bottom: -10px;
    width: 33px;
    height: 4px;
    position: absolute;
    background-color: #fff;
    display: block;
    transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger-inner.sidebar-active {
    transform: rotate(225deg);
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger-inner.sidebar-active::before {
      top: 0;
      opacity: 0;
      transition: top .1s ease-out,opacity .1s ease-out .12s; }
    .hamburger-inner.sidebar-active::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s; }

.carousel .btn-technology-company {
  background-color: #926fb1;
  border-color: #926fb1;
  padding: 5px 20px;
  line-height: 50px; }
  .carousel .btn-technology-company i {
    line-height: 50px; }
.carousel .btn-bespoke-software {
  background-color: #67809f;
  border-color: #67809f;
  padding: 5px 20px;
  line-height: 50px; }
  .carousel .btn-bespoke-software i {
    line-height: 50px; }
.carousel .btn-it-support {
  background-color: #4183d7;
  border-color: #4183d7;
  padding: 5px 20px;
  line-height: 50px; }
  .carousel .btn-it-support i {
    line-height: 50px; }
.carousel .btn-digital-marketing {
  background-color: #2ecc71;
  border-color: #2ecc71;
  padding: 5px 20px;
  line-height: 50px; }
  .carousel .btn-digital-marketing i {
    line-height: 50px; }
.carousel .btn-telecoms-services {
  background-color: #d64541;
  border-color: #d64541;
  padding: 5px 20px;
  line-height: 50px; }
  .carousel .btn-telecoms-services i {
    line-height: 50px; }
.carousel .btn-web-design {
  background-color: #926fb1;
  border-color: #926fb1;
  padding: 5px 20px;
  line-height: 50px; }
  .carousel .btn-web-design i {
    line-height: 50px; }
.carousel .btn-cyber-security {
  background-color: #f62459;
  border-color: #f62459;
  padding: 5px 20px;
  line-height: 50px; }
  .carousel .btn-cyber-security i {
    line-height: 50px; }

.nav-footer {
  padding-left: 0; }
  .nav-footer li {
    list-style: none;
    font-size: .8125rem;
    line-height: 1.375rem; }
  .nav-footer a {
    color: white; }

.navs-header {
  background-color: #333645;
  position: relative;
  display: none; }
  .navs-header .nav-header {
    display: flex;
    padding: 0; }
  .navs-header li {
    list-style: none; }
  .navs-header .nav-item-header {
    flex: 1 calc((100% - 0px * (7 - 1)) / 7); }
  @media screen and (min-width: 992px) {
    .navs-header {
      display: block; } }
  .navs-header .submenu {
    display: none; }

.nav-link {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 19px 0 18px;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1; }
  .nav-link .icon-bespoke-software::before {
    color: #67809f;
    font-size: 1.438rem; }
  .nav-link .icon-it-support::before {
    color: #4183d7;
    font-size: 1.438rem; }
  .nav-link .icon-digital-marketing::before {
    color: #2ecc71;
    font-size: 1.438rem; }
  .nav-link .icon-telecoms-services::before {
    color: #d64541;
    font-size: 1.438rem; }
  .nav-link .icon-web-design::before {
    color: #926fb1;
    font-size: 1.438rem; }
  .nav-link .icon-cyber-security::before {
    color: #f62459;
    font-size: 1.438rem; }
  .nav-link .mdi-developer-training::before {
    color: #ce4125;
    font-size: 1.438rem; }
  .nav-link i {
    padding-bottom: 10px; }
  .nav-link small {
    display: block;
    font-size: .625rem;
    padding-bottom: 1px; }

.navs-footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .navs-footer {
      flex-direction: row;
      flex-wrap: wrap; }
      .navs-footer nav {
        flex: 1 calc((100% - 30px * (2 - 1)) / 2); } }
  @media screen and (min-width: 992px) {
    .navs-footer nav {
      flex: 1 calc((100% - 30px * (4 - 1)) / 4); } }
  @media screen and (min-width: 1260px) {
    .navs-footer {
      padding-bottom: 40px; }
      .navs-footer nav {
        width: 170px; } }

.submenu {
  padding-top: 50px;
  padding-bottom: 50px; }
  .submenu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px .938rem;
    align-items: center;
    padding-right: calc(10px + .938rem);
    margin-top: calc(15px + 4px); }
  .submenu-item {
    flex: 1 calc((100% - 0.938rem * (3 - 1)) / 3);
    font-size: 1.2rem;
    line-height: 1.313rem;
    padding-top: 10px;
    padding-bottom: 10px; }
  .submenu-link {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.313rem; }
    .submenu-link i {
      margin-right: 10px;
      min-width: 25px; }

.nav-submenu {
  padding: 0;
  margin-top: -4px; }

.title-submenu {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1; }

.side-nav-mobile {
  padding: 21px;
  display: block; }
  @media screen and (min-width: 992px) {
    .side-nav-mobile {
      display: none; } }
  .side-nav-mobile .nav-header {
    display: flex;
    flex-direction: column;
    gap: 20px; }
  .side-nav-mobile .nav-item-header {
    flex: 1; }
  .side-nav-mobile .nav-link {
    outline: 1px solid rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    line-height: 1.42857143; }
  .side-nav-mobile .submenu {
    display: block;
    padding: 0;
    margin-top: 20px; }
    .side-nav-mobile .submenu-items {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 0;
      margin: 0;
      gap: 0; }
    .side-nav-mobile .submenu-item {
      flex: 1;
      border-top: 1px solid rgba(0, 0, 0, 0.45);
      padding: 0; }
    .side-nav-mobile .submenu-link {
      display: flex;
      justify-content: center;
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      background-color: rgba(0, 0, 0, 0.25);
      text-transform: uppercase;
      color: white;
      text-align: center;
      padding: 10px;
      font-size: 1rem;
      line-height: 1.42857143; }
  .side-nav-mobile .nav-submenu {
    margin: 0;
    border-radius: 3px;
    overflow: hidden; }

.side-nav-main .nav-header {
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
.side-nav-main .nav-item-header {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
.side-nav-main .item-services {
  display: none; }
  @media screen and (min-width: 992px) {
    .side-nav-main .item-services {
      display: block; } }
.side-nav-main .item-support {
  display: block; }
  @media screen and (min-width: 992px) {
    .side-nav-main .item-support {
      display: none; } }
.side-nav-main .nav-link {
  padding: 20px;
  text-align: start;
  font-size: 1rem; }
.side-nav-main .submenu {
  padding: 0; }
  .side-nav-main .submenu-items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
    gap: 0; }
  .side-nav-main .submenu-item {
    flex: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.45);
    padding: 0; }
  .side-nav-main .submenu-link {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 15px 20px;
    font-size: .875rem;
    line-height: 1.42857143; }
    .side-nav-main .submenu-link::before {
      content: "»";
      padding-right: 19px; }
.side-nav-main .nav-submenu {
  margin: 0; }

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="fa-"], [class*=" fa-"] {
  font-family: "FontAwesome" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class*=" mdi-"], [class^=mdi-] {
  font-family: "Material-Design-Icons" !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class*=" glyph-"], [class^=glyph-] {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings" !important;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rarrow-btn {
  font-size: 20px;
  margin-right: -4px;
  margin-left: 12px;
  display: inline-block;
  line-height: 35px; }

.icon-mouse::before {
  content: "";
  font-size: 1.438rem; }
.icon-paperplane::before {
  content: "";
  font-size: 1.438rem; }
.icon-phone::before {
  content: "";
  font-size: 32px; }

.glyph-search::before {
  content: ""; }

.i-header {
  font-size: 23px; }

.fa-star {
  margin-bottom: 25px; }
  .fa-star::before {
    content: "";
    color: orange;
    font-size: 50px; }

.fa-chevron-down::before {
  content: ""; }

.mdi-checked {
  visibility: hidden; }
  .mdi-checked::before {
    content: "";
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333645;
    line-height: 26px;
    text-align: center; }

.icon-bespoke-software::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-it-support::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-digital-marketing::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-telecoms-services::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-web-design::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-cyber-security::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.mdi-developer-training::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-facebook {
  padding-top: 2.5px; }
  .icon-facebook::before {
    content: "";
    color: #fff;
    font-size: 26px; }

.fa-linkedin {
  padding-top: 2.5px; }
  .fa-linkedin::before {
    content: "";
    color: #fff;
    font-size: 26px; }

.icon-twitter {
  padding-top: 2.5px; }
  .icon-twitter::before {
    content: "";
    color: #fff;
    font-size: 26px; }

.icon-instagram {
  padding-top: 2.5px; }
  .icon-instagram::before {
    content: "";
    color: #fff;
    font-size: 26px; }

.fa-cogs::before {
  content: "";
  color: #fff; }

.glyph-briefcase::before {
  content: "";
  color: #fff; }

.glyph-random::before {
  content: "";
  color: #fff; }

.glyph-phone::before {
  content: "";
  color: #fff; }

.glyph-folder-open::before {
  content: "";
  color: #fff; }

.glyph-transfer::before {
  content: "";
  color: #fff; }

.glyph-download-alt::before {
  content: "";
  color: #fff; }

.fa-users::before {
  content: "";
  color: #fff; }

.fa-laptop::before {
  content: "";
  color: #fff; }

.fa-cloud::before {
  content: "";
  color: #fff; }

.fa-cloud-download::before {
  content: "";
  color: #fff; }

.fa-globe::before {
  content: "";
  color: #fff; }

.glyph-headphones::before {
  content: "";
  color: #fff; }

.fa-briefcase::before {
  content: "";
  color: #fff; }

.mdi-social-school::before {
  content: "";
  color: #fff; }

.glyph-hdd::before {
  content: "";
  color: #fff; }

.fa-search::before {
  content: "";
  color: #fff; }

.fa-money::before {
  content: "";
  color: #fff; }

.mdi-action-trending-up::before {
  content: "";
  color: #fff; }

.fa-envelope::before {
  content: "";
  color: #fff; }

.fa-pencil::before {
  content: "";
  color: #fff; }

.fa-ticket::before {
  content: "";
  color: #fff; }

.fa-phone::before {
  content: "";
  color: #fff; }

.fa-phone-square::before {
  content: "";
  color: #fff; }

.fa-tachometer::before {
  content: "";
  color: #fff; }

.icon-handshake-o::before {
  content: "";
  color: #fff; }

.mdi-notification-phone-in-talk::before {
  content: "";
  color: #fff; }

.glyph-shopping-cart::before {
  content: "";
  color: #fff; }

.fa-desktop::before {
  content: "";
  color: #fff; }

.fa-bullhorn::before {
  content: "";
  color: #fff; }

.glyph-cloud::before {
  content: "☁";
  color: #fff; }

.fa-clipboard::before {
  content: "";
  color: #fff; }

.fa-clock-o::before {
  content: "";
  color: #fff; }

.fa-flask::before {
  content: "";
  color: #fff; }

.mdi-hardware-security::before {
  content: "";
  color: #fff; }

.fa-lock::before {
  content: "";
  color: #fff; }

.icon-code::before {
  content: "";
  color: #fff; }

.fa-question-circle::before {
  content: "";
  color: #fff; }

.logo {
  width: 100%; }
  .logo-footer {
    width: 250px;
    margin-bottom: 16px; }
    @media screen and (min-width: 480px) {
      .logo-footer {
        width: 320px; } }

.image-article {
  width: 100%; }

.avatar {
  border-radius: 50%;
  width: 47px;
  height: 47px; }

.card {
  position: relative;
  top: 0;
  text-decoration: none; }

.search-header {
  display: none; }
  @media screen and (min-width: 768px) {
    .search-header {
      display: block; } }

.form-header {
  display: flex; }
  .form-header input {
    display: inline-block;
    border-radius: 0;
    width: 174px;
    border-color: #ccc;
    font-size: 14px; }
    @media screen and (min-width: 992px) and (max-width: 1259px) {
      .form-header input {
        display: none; } }
    @media screen and (min-width: 1260px) {
      .form-header input {
        width: 240px; } }

.search-mobile {
  display: block; }
  @media screen and (min-width: 768px) {
    .search-mobile {
      display: none; } }

.form-mobile {
  position: relative;
  margin-top: 11px; }
  .form-mobile input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    height: 47px;
    padding: 5px 40px 5px 15px;
    font-size: 14px;
    line-height: 1.42857143; }

.form-newsletter h2 {
  font-weight: 400;
  margin: 0 0 15px;
  font-size: 2rem; }

.inputs-newsletter {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 15px 30px; }
  @media screen and (min-width: 992px) {
    .inputs-newsletter {
      flex-direction: row; } }
  .inputs-newsletter div {
    flex: 1; }
  .inputs-newsletter label {
    display: block;
    line-height: 1.42857143;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px; }
    .inputs-newsletter label.required::after {
      content: " *";
      color: #d24d57; }
  .inputs-newsletter input {
    width: 100%;
    height: 47px;
    border-color: #ccc; }

.checkbox-label {
  cursor: pointer;
  display: flex;
  margin-bottom: 30.5px; }
.checkbox-border {
  border-radius: 3px;
  border: 3px solid #333645;
  position: relative;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 20px;
  display: flex;
  flex-basis: 32px;
  align-items: center;
  justify-content: center; }
.checkbox-newsletter {
  visibility: hidden; }
  .checkbox-newsletter:checked + i::before {
    visibility: visible; }
.checkbox-text {
  display: inline-block;
  flex: 1;
  line-height: 32px;
  font-weight: 600; }

.privacy-policy {
  text-decoration: underline; }

a:hover {
  text-decoration: underline; }

button:hover {
  cursor: pointer; }

.card:hover {
  top: -10px;
  transition: .5s ease; }
  .card:hover a {
    color: #fff; }
.card a:hover {
  text-decoration: none; }
.card-bespoke-software:hover {
  background-color: #67809f; }
  .card-bespoke-software:hover .wrapper {
    background-color: #fff; }
    .card-bespoke-software:hover .wrapper i::before {
      color: #67809f; }
  .card-bespoke-software:hover .btn {
    background-color: #fff;
    color: #67809f; }
  .card-bespoke-software:hover .btn:hover {
    border-color: #fff; }
.card-it-support:hover {
  background-color: #4183d7; }
  .card-it-support:hover .wrapper {
    background-color: #fff; }
    .card-it-support:hover .wrapper i::before {
      color: #4183d7; }
  .card-it-support:hover .btn {
    background-color: #fff;
    color: #4183d7; }
  .card-it-support:hover .btn:hover {
    border-color: #fff; }
.card-digital-marketing:hover {
  background-color: #2ecc71; }
  .card-digital-marketing:hover .wrapper {
    background-color: #fff; }
    .card-digital-marketing:hover .wrapper i::before {
      color: #2ecc71; }
  .card-digital-marketing:hover .btn {
    background-color: #fff;
    color: #2ecc71; }
  .card-digital-marketing:hover .btn:hover {
    border-color: #fff; }
.card-telecoms-services:hover {
  background-color: #d64541; }
  .card-telecoms-services:hover .wrapper {
    background-color: #fff; }
    .card-telecoms-services:hover .wrapper i::before {
      color: #d64541; }
  .card-telecoms-services:hover .btn {
    background-color: #fff;
    color: #d64541; }
  .card-telecoms-services:hover .btn:hover {
    border-color: #fff; }
.card-web-design:hover {
  background-color: #926fb1; }
  .card-web-design:hover .wrapper {
    background-color: #fff; }
    .card-web-design:hover .wrapper i::before {
      color: #926fb1; }
  .card-web-design:hover .btn {
    background-color: #fff;
    color: #926fb1; }
  .card-web-design:hover .btn:hover {
    border-color: #fff; }
.card-cyber-security:hover {
  background-color: #f62459; }
  .card-cyber-security:hover .wrapper {
    background-color: #fff; }
    .card-cyber-security:hover .wrapper i::before {
      color: #f62459; }
  .card-cyber-security:hover .btn {
    background-color: #fff;
    color: #f62459; }
  .card-cyber-security:hover .btn:hover {
    border-color: #fff; }
.card-developer-training:hover {
  background-color: #ce4125; }
  .card-developer-training:hover .wrapper {
    background-color: #fff; }
    .card-developer-training:hover .wrapper i::before {
      color: #ce4125; }
  .card-developer-training:hover .btn {
    background-color: #fff;
    color: #ce4125; }
  .card-developer-training:hover .btn:hover {
    border-color: #fff; }

.article-news:hover {
  top: -10px;
  transition: .5s ease; }

.btn-header:hover {
  text-decoration: none; }
.btn:hover {
  background-color: #22242e;
  border-color: #191a22; }
.btn-prim:hover {
  background-color: #121318;
  text-decoration: none; }
.btn-google:hover {
  background-color: #166af4; }
.btn-trustpilot:hover {
  background-color: #009b69; }
.btn-support:hover {
  background-color: #2a6ec6;
  border-color: #2665b5; }
.btn-contact:hover {
  background-color: #84858f;
  border-color: #797a85; }
.btn-search-header:hover {
  background-color: #7e808a; }
.btn-carousel:hover {
  background-color: #e80a42;
  border-color: #d4093c;
  text-decoration: none; }
.btn-settings:hover {
  background-color: #84858f;
  border-color: #797a85;
  text-decoration: none; }
.btn-accept:hover {
  background-color: #7e57a0;
  border-color: #735093;
  text-decoration: none; }
.btn-facebook:hover {
  background-color: #3b5998; }
.btn-linkedin:hover {
  background-color: #0077b5; }
.btn-twitter:hover {
  background-color: #00aced; }
.btn-instagram:hover {
  background-color: #d93175; }
.btn-case-study:hover {
  text-decoration: none; }

.nav-link:hover {
  text-decoration: none; }

.content .nav-item-header:hover .i-nav::before {
  color: #fff; }
.content .nav-item-header:hover i {
  text-decoration: none; }
.content .nav-item-header:hover .submenu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  color: #fff;
  min-width: 100%;
  z-index: 10; }
.content .nav-item-header:hover .submenu-link {
  color: #fff; }

.submenu-link:hover {
  text-decoration: none; }
  .submenu-link:hover span {
    text-decoration: underline; }

.owl-item:hover img {
  filter: grayscale(0); }
.owl-item:hover .owl-description {
  display: block; }

.content .item-bespoke-software .submenu {
  background-color: #526781; }
.content .item-bespoke-software:hover {
  background-color: #67809f; }
  .content .item-bespoke-software:hover .nav-link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #67809f transparent transparent; }
    @media screen and (min-width: 1260px) {
      .content .item-bespoke-software:hover .nav-link::before {
        border-width: 35px 83.5px 0; } }
.content .item-it-support .submenu {
  background-color: #286abd; }
.content .item-it-support:hover {
  background-color: #4183d7; }
  .content .item-it-support:hover .nav-link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #4183d7 transparent transparent; }
    @media screen and (min-width: 1260px) {
      .content .item-it-support:hover .nav-link::before {
        border-width: 35px 83.5px 0; } }
.content .item-digital-marketing .submenu {
  background-color: #25a25a; }
.content .item-digital-marketing:hover {
  background-color: #2ecc71; }
  .content .item-digital-marketing:hover .nav-link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #2ecc71 transparent transparent; }
    @media screen and (min-width: 1260px) {
      .content .item-digital-marketing:hover .nav-link::before {
        border-width: 35px 83.5px 0; } }
.content .item-telecoms-services .submenu {
  background-color: #bc2c28; }
.content .item-telecoms-services:hover {
  background-color: #d64541; }
  .content .item-telecoms-services:hover .nav-link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #d64541 transparent transparent; }
    @media screen and (min-width: 1260px) {
      .content .item-telecoms-services:hover .nav-link::before {
        border-width: 35px 83.5px 0; } }
.content .item-web-design .submenu {
  background-color: #79539a; }
.content .item-web-design:hover {
  background-color: #926fb1; }
  .content .item-web-design:hover .nav-link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #926fb1 transparent transparent; }
    @media screen and (min-width: 1260px) {
      .content .item-web-design:hover .nav-link::before {
        border-width: 35px 83.5px 0; } }
.content .item-cyber-security .submenu {
  background-color: #de093f; }
.content .item-cyber-security:hover {
  background-color: #f62459; }
  .content .item-cyber-security:hover .nav-link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #f62459 transparent transparent; }
    @media screen and (min-width: 1260px) {
      .content .item-cyber-security:hover .nav-link::before {
        border-width: 35px 83.5px 0; } }
.content .item-developer-training .submenu {
  background-color: #a3331d; }
.content .item-developer-training:hover {
  background-color: #ce4125; }
  .content .item-developer-training:hover .nav-link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #ce4125 transparent transparent; }
    @media screen and (min-width: 1260px) {
      .content .item-developer-training:hover .nav-link::before {
        border-width: 35px 83.5px 0; } }

.box .btn-bespoke-software:hover {
  background-color: #566c88;
  border-color: #4e627b; }
.box .btn-it-support:hover {
  background-color: #2a6ec6;
  border-color: #2665b5; }
.box .btn-digital-marketing:hover {
  background-color: #26ab5f;
  border-color: #239a55; }
.box .btn-web-design:hover {
  background-color: #7e57a0;
  border-color: #735093; }

.dots li:hover {
  cursor: pointer; }
  .dots li:hover .dot {
    background-color: #869791; }
.dots .slick-active:hover .dot {
  background-color: #fff; }

.carousel .btn-technology-company:hover {
  background-color: #7e57a0;
  border-color: #735093;
  text-decoration: none; }
.carousel .btn-bespoke-software:hover {
  background-color: #566c88;
  border-color: #4e627b;
  text-decoration: none; }
.carousel .btn-it-support:hover {
  background-color: #2a6ec6;
  border-color: #2665b5;
  text-decoration: none; }
.carousel .btn-digital-marketing:hover {
  background-color: #26ab5f;
  border-color: #239a55;
  text-decoration: none; }
.carousel .btn-telecoms-services:hover {
  background-color: #c42e2a;
  border-color: #b32a27;
  text-decoration: none; }
.carousel .btn-web-design:hover {
  background-color: #7e57a0;
  border-color: #735093;
  text-decoration: none; }
.carousel .btn-cyber-security:hover {
  background-color: #e80a42;
  border-color: #d4093c;
  text-decoration: none; }

.sidebar .nav-item-header:hover .nav-link {
  background-color: rgba(255, 255, 255, 0.05); }
.sidebar .submenu-link:hover span {
  text-decoration: none; }

input:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6); }

.form-mobile input:focus {
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

/*# sourceMappingURL=styles.css.map */
