@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.ttf?x7c0h8");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
@font-face {
  font-family: 'FontAwesome';
  src: url("/fonts/fontawesome-webfont.woff?v=4.0.3");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Material-Design-Icons';
  src: url("/fonts/Material-Design-Icons.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/fonts/glyphicons-halflings-regular.woff"); }
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: "Poppins", sans-serif;
  color: #333645;
  letter-spacing: .4px;
  margin: 0px; }

button {
  font-family: "Poppins", sans-serif; }

input {
  font-family: "Poppins", sans-serif; }

a {
  text-decoration: none;
  color: #333645; }

h1 {
  font-size: 4rem;
  line-height: 5rem; }

h2 {
  line-height: 1.1;
  font-size: 2.25rem; }

h3 {
  font-size: 1.625rem; }

p {
  line-height: 1.875rem;
  margin: 0 0 25px; }

article {
  transition: .5s ease;
  position: relative; }

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px; }
  .heading h2 {
    margin-right: auto; }

.header-top {
  padding: 20px 0; }

.row {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center; }
  .row .logo-header {
    margin-right: auto; }

@media screen and (min-width: 768px) {
  .link-mobile {
    display: none; } }

.header-article {
  position: relative;
  margin-bottom: -6.5px; }
  .header-article .tag {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 10px; }
    .header-article .tag-bespoke-software {
      background-color: #67809f; }
    .header-article .tag-it-support {
      background-color: #4183d7; }
    .header-article .tag-digital-marketing {
      background-color: #2ecc71; }
    .header-article .tag-telecoms-services {
      background-color: #d64541; }
    .header-article .tag-web-design {
      background-color: #926fb1; }
    .header-article .tag-cyber-security {
      background-color: #f62459; }
    .header-article .tag-developer-training {
      background-color: #ce4125; }

.container {
  padding: 0px 15px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media screen and (min-width: 1260px) {
    .container {
      width: 1200px; } }
  .container-branding {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px; }
    .container-branding div {
      flex: 1; }
    @media screen and (min-width: 992px) {
      .container-branding {
        flex-direction: row;
        gap: 30px; } }
  .container-services {
    padding-top: 50px;
    padding-bottom: 50px; }

.article-news {
  flex: 1; }
  @media screen and (min-width: 768px) {
    .article-news h3 {
      min-height: 3rem; } }
  @media screen and (min-width: 768px) and (max-width: 1259px) {
    .article-news:last-child {
      display: none; } }

.article-content {
  padding: 30px;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  font-size: .8125rem;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1); }
  .article-content h3 {
    margin-bottom: 15px; }

.branding {
  background-color: #333645;
  color: #fff; }
  .branding a {
    color: #fff; }
  .branding strong {
    font-weight: 600; }

.client-quote {
  margin: 0px; }

.star-rating {
  margin-bottom: 25px; }

.client {
  margin-bottom: 45px; }

.link-services-top {
  display: none; }
  @media screen and (min-width: 768px) {
    .link-services-top {
      display: block; } }
.link-services-btm {
  margin: 0 auto;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .link-services-btm {
      display: none; } }

.card {
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 15px;
  transition: .5s ease; }
  .card a {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px; }
  .card .btn {
    margin-top: auto; }

.cards-services {
  display: grid;
  gap: 30px; }
  @media screen and (min-width: 992px) {
    .cards-services {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "bespoke-software bespoke-software it-support it-support digital-marketing digital-marketing" "telecoms-services telecoms-services telecoms-services web-design web-design web-design" "cyber-security cyber-security cyber-security developer-training developer-training developer-training"; } }
  @media screen and (min-width: 1260px) {
    .cards-services {
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "bespoke-software bespoke-software bespoke-software bespoke-software it-support it-support it-support it-support digital-marketing digital-marketing digital-marketing digital-marketing" "telecoms-services telecoms-services telecoms-services web-design web-design web-design cyber-security cyber-security cyber-security developer-training developer-training developer-training"; } }

@media screen and (min-width: 992px) {
  .card-bespoke-software {
    grid-area: bespoke-software; } }

.wrapper-bespoke-software {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #67809f;
  margin-bottom: 17px; }

@media screen and (min-width: 992px) {
  .card-it-support {
    grid-area: it-support; } }

.wrapper-it-support {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #4183d7;
  margin-bottom: 17px; }

@media screen and (min-width: 992px) {
  .card-digital-marketing {
    grid-area: digital-marketing; } }

.wrapper-digital-marketing {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #2ecc71;
  margin-bottom: 17px; }

@media screen and (min-width: 992px) {
  .card-telecoms-services {
    grid-area: telecoms-services; } }

.wrapper-telecoms-services {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #d64541;
  margin-bottom: 17px; }

@media screen and (min-width: 992px) {
  .card-web-design {
    grid-area: web-design; } }

.wrapper-web-design {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #926fb1;
  margin-bottom: 17px; }

@media screen and (min-width: 992px) {
  .card-cyber-security {
    grid-area: cyber-security; } }

.wrapper-cyber-security {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #f62459;
  margin-bottom: 17px; }

@media screen and (min-width: 992px) {
  .card-developer-training {
    grid-area: developer-training; } }

.wrapper-developer-training {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: #ce4125;
  margin-bottom: 17px; }

.carousel {
  height: 550px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/img/backgrounds/cyber-security.webp");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center; }
  .carousel h1 {
    margin-bottom: 1.25rem; }
  .carousel p {
    margin-bottom: 2.313rem; }
  .carousel a {
    margin-bottom: 1.125rem; }

.container-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%; }
  @media screen and (min-width: 992px) {
    .container-carousel {
      align-items: start;
      text-align: left; } }

.wrapper-news {
  display: flex;
  flex-direction: column;
  gap: 30px; }
  @media screen and (min-width: 768px) {
    .wrapper-news {
      flex-direction: row; } }

.link-article {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.newsletter {
  background-color: #ddd; }

.footer-main {
  background-color: #323544; }
  .footer-main h4 {
    margin-bottom: 26px; }

.footer-article {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 20px; }
  .footer-article strong {
    display: block; }

.branding-title {
  margin: -6px 0 40px; }

.quote strong {
  font-style: italic;
  font-size: 1.3rem; }

.client {
  font-weight: 600; }
  .client cite {
    color: #a3a8ac;
    font-style: normal;
    font-size: 1.1rem; }

.header-services {
  display: inline;
  font-size: 2.7rem; }

.card h2 {
  font-size: 1.3rem;
  padding-bottom: 10px;
  margin: 0 0 11px;
  font-weight: 400; }
.card p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px; }

.btn-cookie {
  line-height: 22px;
  font-weight: 600;
  font-size: .8rem;
  text-transform: capitalize;
  color: #fff; }

.carousel {
  color: #fff; }
  .carousel h1 {
    font-size: 2.5rem;
    line-height: 3rem; }
    @media screen and (min-width: 992px) {
      .carousel h1 {
        font-size: 4rem;
        line-height: 5rem; } }
  .carousel p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600; }
    @media screen and (min-width: 992px) {
      .carousel p {
        font-size: 1.625rem;
        line-height: 2.5rem; } }
  .carousel a {
    font-size: 1.25rem; }

.tag {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: .75rem;
  line-height: 1.438rem;
  z-index: 1; }

.article-content {
  color: #666; }
  .article-content h3 {
    font-size: 1rem;
    line-height: 1.5rem; }
  .article-content p {
    line-height: 1.375rem;
    font-size: .8125rem; }
  .article-content .read-time {
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(51, 54, 69, 0.5);
    font-size: .85rem; }

.title-bespoke-software {
  color: #67809f; }

.title-it-support {
  color: #4183d7; }

.title-digital-marketing {
  color: #2ecc71; }

.title-telecoms-services {
  color: #d64541; }

.title-web-design {
  color: #926fb1; }

.title-cyber-security {
  color: #f62459; }

.title-developer-training {
  color: #ce4125; }

.footer-article {
  font-size: .875rem;
  line-height: 1.375rem; }
  .footer-article strong {
    color: black;
    font-weight: 600; }

.footer-main h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400; }

.icon-rarrow-link::before, .icon-rarrow-btn::before {
  content: ""; }

h1, h2, h3 {
  font-weight: 600; }

.form-header input, .inputs-newsletter input {
  height: 56px;
  padding: 5px 15px;
  background-color: white;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.btn {
  text-transform: uppercase;
  display: inline-flex;
  color: #fff;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  background-color: #333645;
  font-size: 1.063rem;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle; }
  .btn-prim {
    background-color: #272936;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 20px; }
  .btn-header {
    display: none;
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem; }
    @media screen and (min-width: 992px) {
      .btn-header {
        display: flex;
        align-items: center;
        gap: 5px; } }
  .btn-cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #75788a;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    border-radius: 0 10px 0 0;
    padding: 0 10px; }
  .btn-hamburger {
    border: none;
    display: flex;
    align-items: center;
    height: 56px; }
  .btn-search-header {
    display: inline-block;
    outline: none;
    padding: 7px 20px 3px;
    height: 56px;
    font-size: 1.063rem;
    border-radius: 0 3px 3px 0;
    border: none;
    vertical-align: bottom;
    background-color: #999aa2;
    color: #fff; }
    @media screen and (min-width: 992px) {
      .btn-search-header {
        border-radius: 3px; } }
  .btn-search-mobile {
    background: none;
    border: none;
    color: #333645;
    position: absolute;
    right: 5px;
    line-height: 47px;
    font-size: 20px;
    outline: none; }
  .btn-google {
    background-color: #4387f6; }
  .btn-trustpilot {
    background-color: #00b67b; }
  .btn-support {
    background-color: #4183d7; }
  .btn-contact {
    background-color: #999aa2; }
  .btn-search-header {
    background-color: #999aa2; }
  .btn-carousel {
    background-color: #f62459;
    padding: 5px 20px;
    line-height: 50px; }
    .btn-carousel i {
      line-height: 50px; }

.btns {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 17px 8px; }
  .btns-quote {
    gap: 20px 8px; }

.btn-bespoke-software {
  background-color: #67809f; }

.btn-it-support {
  background-color: #4183d7; }

.btn-digital-marketing {
  background-color: #2ecc71; }

.btn-telecoms-services {
  background-color: #d64541; }

.btn-web-design {
  background-color: #926fb1; }

.btn-cyber-security {
  background-color: #f62459; }

.btn-developer-training {
  background-color: #ce4125; }

.dots {
  position: absolute;
  right: 0;
  bottom: 49.925px;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 20px; }

.dot {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background: rgba(255, 255, 255, 0.5);
  position: relative; }
  .dot-active {
    background-color: #fff; }
    .dot-active::after {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      background: transparent;
      border: 2px solid #fff; }

.hamburger-box {
  width: 33px;
  height: 19px;
  display: inline-block;
  position: relative; }
.hamburger-inner {
  width: 33px;
  height: 4px;
  position: absolute;
  background-color: #fff;
  display: block;
  top: 50%;
  margin-top: -1.5px; }
  .hamburger-inner::before {
    content: '';
    top: -10px;
    width: 33px;
    height: 4px;
    position: absolute;
    background-color: #fff;
    display: block; }
  .hamburger-inner::after {
    content: '';
    bottom: -10px;
    width: 33px;
    height: 4px;
    position: absolute;
    background-color: #fff;
    display: block; }

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="fa-"], [class*=" fa-"] {
  font-family: "FontAwesome" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class*=" mdi-"], [class^=mdi-] {
  font-family: "Material-Design-Icons" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class*=" glyph-"], [class^=glyph-] {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings" !important;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rarrow-btn {
  font-size: 20px;
  margin-right: -4px;
  margin-left: 12px;
  display: inline-block;
  line-height: 35px; }

.icon-mouse::before {
  content: "";
  font-size: 1.438rem; }
.icon-paperplane::before {
  content: "";
  font-size: 1.438rem; }
.icon-phone::before {
  content: "";
  font-size: 32px; }

.glyph-search::before {
  content: ""; }

.i-header {
  font-size: 23px; }

.fa-star {
  margin-bottom: 25px; }
  .fa-star::before {
    content: "";
    color: orange;
    font-size: 50px; }

.mdi-checked::before {
  content: "";
  color: #fff;
  font-size: 22px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333645;
  line-height: 26px;
  text-align: center; }

.icon-bespoke-software::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-it-support::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-digital-marketing::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-telecoms-services::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-web-design::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.icon-cyber-security::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.mdi-developer-training::before {
  content: "";
  color: #fff;
  font-size: 2rem; }

.logo {
  width: 100%; }
  .logo-footer {
    width: 250px;
    margin-bottom: 24px; }
    @media screen and (min-width: 480px) {
      .logo-footer {
        width: 320px; } }

.image-article {
  width: 100%; }

.avatar {
  border-radius: 50%;
  width: 47px;
  height: 47px; }

.card a {
  text-decoration: none; }

.search-header {
  display: none; }
  @media screen and (min-width: 768px) {
    .search-header {
      display: block; } }

.form-header {
  display: flex; }
  .form-header input {
    display: inline-block;
    border-radius: 0;
    width: 174px; }
    @media screen and (min-width: 992px) {
      .form-header input {
        display: none; } }

.search-mobile {
  display: block; }
  @media screen and (min-width: 768px) {
    .search-mobile {
      display: none; } }

.form-mobile {
  position: relative;
  margin-top: 11px; }
  .form-mobile input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    height: 47px;
    padding: 5px 40px 5px 15px;
    font-size: 14px;
    line-height: 1.42857143; }

.form-newsletter {
  padding: 50px 0; }
  .form-newsletter h2 {
    font-weight: 400;
    margin: 0 0 15px;
    font-size: 2rem; }

.inputs-newsletter {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 15px 30px; }
  @media screen and (min-width: 992px) {
    .inputs-newsletter {
      flex-direction: row; } }
  .inputs-newsletter div {
    flex: 1; }
  .inputs-newsletter label {
    display: block;
    line-height: 1.42857143;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px; }
    .inputs-newsletter label.required::after {
      content: " *";
      color: #d24d57; }
  .inputs-newsletter input {
    width: 100%;
    height: 47px;
    border-color: #ccc; }

.checkbox-label {
  cursor: pointer; }
.checkbox-border {
  border-radius: 3px;
  border: 3px solid #333645;
  position: relative;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 20px;
  display: flex;
  flex-basis: 32px;
  align-items: center;
  justify-content: center; }
.checkbox-newsletter {
  visibility: hidden; }
  .checkbox-newsletter:checked::before {
    visibility: visible; }
.checkbox-text {
  display: inline-block;
  flex: 1;
  line-height: 32px;
  font-weight: 600; }

.wrapper-checkbox {
  display: flex;
  margin-bottom: 30.5px; }

.privacy-policy {
  text-decoration: underline; }

a:hover {
  text-decoration: underline; }

button:hover {
  cursor: pointer; }

.card a:hover {
  text-decoration: none; }

.btn-prim:hover {
  background-color: #1c1e27;
  text-decoration: none; }
.btn-google:hover {
  background-color: #2b77f5; }
.btn-trustpilot:hover {
  background-color: #009d6a; }
.btn-carousel:hover {
  text-decoration: none; }
.btn-header:hover {
  text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
