@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?x7c0h8");
  src: url("/fonts/icomoon.eot?x7c0h8#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?x7c0h8") format("truetype"), url("/fonts/icomoon.woff?x7c0h8") format("woff"), url("/fonts/icomoon.svg?x7c0h8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
*, ::after, ::before {
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  color: #666;
  letter-spacing: .4px;
  margin: 0px; }

a {
  text-decoration: none;
  color: #666; }

h2 {
  line-height: 1.1;
  font-size: 2.25rem; }

h3 {
  font-size: 1.625rem;
  font-weight: 600; }

p {
  line-height: 1.875rem;
  margin: 0 0 25px; }

.container {
  padding: 50px 15px;
  margin: 0 auto; }

.article-content {
  padding: 30px; }

.branding {
  background-color: #333645;
  color: #fff; }
  .branding a {
    color: #fff; }
  .branding strong {
    font-weight: 600; }

.container-branding {
  display: flex;
  flex-direction: column;
  gap: 50px; }

.client-quote {
  margin: 0px; }

.star-rating {
  margin-bottom: 25px; }

.client {
  margin-bottom: 45px; }

.content__footer {
  background-color: #323544;
  color: #fff; }

.icon-rarrow-link::before, .icon-rarrow-btn::before {
  content: ""; }

.btn {
  text-transform: uppercase;
  display: inline-flex;
  color: #fff;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  background-color: #272936;
  font-size: 1.063rem;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle; }
  .btn-prim {
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 20px; }
  .btn-google {
    border: none;
    background-color: #4387f6; }
  .btn-trustpilot {
    border: none;
    background-color: #00b67b;
    white-space: nowrap;
    max-width: fit-content; }

.btns {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 17px 8px; }
  .btns-quote {
    gap: 20px 8px; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rarrow-btn {
  font-size: 20px;
  margin-right: -4px;
  margin-left: 12px;
  display: inline-block;
  line-height: 35px; }

.icon-star {
  margin-bottom: 25px; }
  .icon-star::before {
    content: "";
    color: orange;
    font-size: 50px; }

.card a {
  text-decoration: none; }

.branding-title {
  margin: -6px 0 40px; }

.quote strong {
  font-style: italic;
  font-size: 1.3rem; }

.client {
  font-weight: 600; }
  .client cite {
    color: #a3a8ac;
    font-style: normal;
    font-size: 1.1rem; }

a:hover {
  text-decoration: underline; }

.btn-prim:hover {
  background-color: #1c1e27;
  text-decoration: none; }
.btn-google:hover {
  background-color: #2b77f5; }
.btn-trustpilot:hover {
  background-color: #009d6a; }

/*# sourceMappingURL=styles.css.map */
