input:focus, textarea:focus{
    border-color: $colour-focus-border;
    outline: 0;
    box-shadow: inset 0 1px 1px map-get($search-mobile-colours, "input-shadow"),
     0 0 8px $colour-focus-shadow;
}

.form-mobile{
    input:focus{
        border-color: map-get($search-mobile-colours, "input-border");
        box-shadow: inset 0 1px 1px map-get($search-mobile-colours, "input-shadow");
    }
}
