a:hover{
    text-decoration: underline;
}

button:hover{
    cursor: pointer;
}

.card {
    &:hover{
        
        top: -10px;
        @include base-transition;

        a{
            color: $white;
        }
    }

    a:hover{
        text-decoration: none;
    }

    @each $service, $colour in $services-colours{
        &-#{$service}:hover{
            background-color: $colour;
            .wrapper{
                background-color: $white;
                i::before{
                    color: $colour;
                }
            }

            .btn{
                background-color: $white;
                color: $colour;
            }

            .btn:hover{
                border-color: $white;
            }
        }
    }
}

.article-news:hover{
    top: -10px;
    @include base-transition;
}



.btn{
    &-header:hover{
        text-decoration: none;
    }

    @each $btn, $colour in $btn-colours-hover{
        &#{$btn}:hover{
            @if $btn == "-support" or 
            $btn == "-contact" or 
            $btn == "" or 
            $btn == "-carousel" or 
            $btn == "-settings" or
            $btn == "-accept"{
                background-color: map-get($colour, "bg");
                border-color: map-get($colour, "border");
            }
            @else{
                background-color: $colour;
            }

            @if $btn == "-prim" or 
            $btn == "-carousel" or
            $btn == "-settings" or
            $btn == "-accept"{
                text-decoration: none;
            }

        }

    }

    @each $social, $colour in $socials-colours{
        &-#{$social}:hover{
            background-color: $colour;
        }
    }

    &-case-study:hover{
        text-decoration: none;
    }

    &-office-card:hover{
        background-color: #7e57a0;
        border-color: #735093;
        text-decoration: none;
    }
}

.nav-link:hover{
    text-decoration: none;
}

.content .nav-item-header:hover{

    .i-nav::before{
        color: $white;
    }

    i{
        text-decoration: none;
    }

    .submenu{
        display: block;
        @include abs-pos($t:100%, $l:0);
        color: $white;
        min-width: 100%;
        z-index: 10;
    }

    .submenu-link{
        color: $white;
    }
}

.submenu-link:hover{
    text-decoration: none;

    span{
        text-decoration: underline;
    }
}

.owl-item:hover{
    img{
        filter: grayscale(0);
    }

    .owl-description{
        display: block;
    }
}

.content .item{
    @each $service, $colour in $services-colours{
        &-#{$service}{
            .submenu{
                background-color: darken($colour, 10%);
            }

            

            &:hover{
                background-color: $colour;

                .nav-link::before{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -35px;
                    transform: translateX(-50%);
                    z-index: 90;
                    border-style: solid;
                    border-width: 35px 68px 0;
                    border-color: $colour transparent transparent;

                    @include mq("x-lg"){
                        border-width: 35px 83.5px 0;
                    }
                }
            }
        }
    }
}

.box{
    @each $service, $colour in $services-colours-hover{
        .btn-#{$service}:hover{
            background-color: map-get($colour, "bg");
            border-color: map-get($colour, "border");
        }
    }
}

.dots {
    li:hover{
        cursor: pointer;

        .dot{
            background-color: $colour-dot-hover;
        }
    }

    .slick-active:hover{
        .dot{
            background-color: $white;
        }
    }
}


.carousel{
    @each $service, $styles in $carousel-styles{
        .btn-#{$service}:hover{
            background-color: map-get($styles, "hover-colour");
            border-color: map-get($styles, "hover-border");
            text-decoration: none;
        }
    }
}

.sidebar{
    .nav-item-header:hover{
        .nav-link{
            background-color: hsla(0,0%,100%,.05);
        }
    }

    .submenu-link:hover{
        span{
            text-decoration: none;
        }
    }
}

.dropdown:hover{
    text-decoration: none;

    span{
        text-decoration: underline;
    }
}