a:hover{
    text-decoration: underline;
}

button:hover{
    cursor: pointer;
}

.card {
    a:hover{
        text-decoration: none;
    }
}

.btn{
    &-prim:hover{
        background-color: darken($colour-btn-dark, 5%);
        text-decoration: none;
    }
    &-google:hover{
        background-color: darken(map-get($btn-colours, "google"), 5%);
    }
    &-trustpilot:hover{
        background-color: darken(map-get($btn-colours, "trustpilot"), 5%);
    }

    &-carousel:hover{
        text-decoration: none;
    }

    &-header:hover{
        text-decoration: none;
    }
    
}

.nav-link:hover{
    text-decoration: none;
}

.nav-item-header:hover{
    i::before{
        color: $white;
    }

    .submenu{
        display: block;
        @include abs-pos($t:100%, $l:0);
        color: $white;
        min-width: 100%;
        z-index: 10;
    }

    .submenu-link{
        color: $white;
    }
}

.item{
    @each $service, $colour in $services-colours{
        &-#{$service}{
            .submenu{
                background-color: darken($colour, 10%);
            }

            

            &:hover{
                background-color: $colour;

                .nav-link::before{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -35px;
                    transform: translateX(-50%);
                    z-index: 90;
                    border-style: solid;
                    border-width: 35px 68px 0;
                    border-color: $colour transparent transparent;
                }
            }
        }
    }
}

