a:hover{
    text-decoration: underline;
}

.btn{
    &-prim:hover{
        background-color: darken($colour-btn-dark, 15%);
        text-decoration: none;
    }
    &-google:hover{
        background-color: darken($colour-btn-google, 15%);
    }
    &-trustpilot:hover{
        background-color: darken($colour-btn-trustpilot, 15%);
    }
    
}