@mixin circle-icon($size, $bg){
    border-radius: 50%;
    width: $size;
    height: $size;
    background: $bg;
}

@mixin hidden{
    display: none;
}

@mixin icon($icon, $colour: null, $fsize: null){
    &::before{
        content: $icon;
        color: $colour;
        font-size: $fsize;
    }
}

@mixin no-border{
    border: none;
}
