@mixin circle-icon($size, $bg: null){
    border-radius: 50%;
    width: $size;
    height: $size;
    background: $bg;
}

@mixin hidden{
    display: none;
}

@mixin icon($icon, $colour: null, $fsize: null){
    &::before{
        content: $icon;
        color: $colour;
        font-size: $fsize;
        @content;
    }
}

@mixin no-border{
    border: none;
}

@mixin base-transition{
    transition: .5s ease;
}

@mixin hamburger-slice{
    width: 33px;
    height: 4px;
    position: absolute;
    background-color: $white;
    display: block;
}

@mixin abs-pos($t: null, $r: null, $b: null, $l: null){
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}

@mixin base-font{
    font-family: $stack-poppins;
}

@mixin mq($brk){
    $value: map-get($break-points, $brk);
    @media screen and (min-width: $value) {
        &{
            @content;
        }
    }
}

@mixin mq-range($l-brk, $u-brk){
    $lb: map-get($break-points, $l-brk);
    $ub: map-get($break-points, $u-brk);
    @media screen and (min-width: $lb) and (max-width: ($ub - 1)) {
        &{
            @content;
        }
    }
}

@mixin mx($value){
    margin-right: $value;
    margin-left: $value;
}

@mixin my($value){
    margin-top: $value;
    margin-bottom: $value;
}

@mixin px($value){
    padding-right: $value;
    padding-left: $value;
}

@mixin py($value){
    padding-top: $value;
    padding-bottom: $value;
}