
$font-path-local: "../fonts";
$img-path-local: "../img";


// ----- FONTS --------

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'icomoon';
    src:  url('#{$font-path-local}/icomoon.ttf?x7c0h8');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('#{$font-path-local}/fontawesome-webfont.woff?v=4.0.3');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Material-Design-Icons';
    src: url('#{$font-path-local}/Material-Design-Icons.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('#{$font-path-local}/glyphicons-halflings-regular.woff');
}

$stack-poppins: 'Poppins', sans-serif;
$font-iconmoon: 'icomoon' !important;
$font-fa: 'FontAwesome' !important;
$font-mdi: 'Material-Design-Icons' !important;
$font-glyph: 'Glyphicons Halflings' !important;

$font-weight-normal: 400;
$font-weight-bold: 600;



// ---------COLOURS----------------

$tuna-1: #323544;
$tuna-2: #333645;
$charade: #272936;
$dove-gray: #666;
$radical-red: #f62459;
$ebony-clay: #212330;
$tundora: #444;
$alto: #ddd;
$white: #fff;
$gray-chateau: #a3a8ac;
$silver: #ccc;
$storm-gray: #75788a;
$emperor: #555;
$mecury: #e5e5e5;
$manatee: #999aa2;

$dodger-blue: #4387f6;
$dodger-blue-darker: darken($dodger-blue, 15%);
$jade: #00b67b;
$jade-darker: darken($jade, 15%);

$hoki: #67809f;
$havelock-blue: #4183d7;
$shamock: #2ecc71;
$valencia: #d64541;
$wisteria: #926fb1;
$punch: #ce4125;

$chambray: #3b5998;
$deep-cerulean: #0077b5;
$cerulean: #00aced;
$cerise: #d93175;

// ---------FUNCTIONAL COLOUR NAMES----------------

$colour-footer-bg           : $tuna-1;
$colour-primary             : $tuna-2;
$colour-text                : $tuna-2;
$colour-btn-dark            : $charade;
$colour-footer-bg-drkr      : $ebony-clay;
$colour-newsletters-bg      : $alto;
$colour-star                : orange;
$colour-citation            : $gray-chateau;
$colour-card-border         : $silver;
$colour-card-shadow         : rgba(black, .1);
$colour-cookie-bg           : $storm-gray;
$colour-article-border      : $silver;
$colour-article-shadow      : rgba(black, .1);
$colour-read-time           : rgba($tuna-2, .5);
$colour-article-text        : $dove-gray;
$colour-btn-social          : #212330;
$colour-btn-case-study      : $havelock-blue;
$colour-carousel-bg         : black;
$colour-input-border        : $silver;
$colour-required            : #d24d57;
$colour-focus-border        : #5bc0de;
$colour-focus-shadow        : rgba(#5bc0de, 0.6);
$colour-dot-hover           : #869791;

$btn-colours: (
    "google"        : $dodger-blue,
    "trustpilot"    : $jade,
    "support"       : $havelock-blue,
    "contact"       : $manatee,
    "search-header" : $manatee,
);

$btn-colours-hover: (
    ""              : ("bg" : #22242e, "border": #191a22),
    "-prim"         : #121318,
    "-google"       : #166af4,
    "-trustpilot"   : #009b69,
    "-support"      : ("bg" : #2a6ec6, "border": #2665b5),
    "-contact"      : ("bg" : #84858f, "border": #797a85),
    "-search-header": #7e808a,
    "-carousel"     : ("bg" : #e80a42, "border": #d4093c),
);

$search-mobile-colours: (
    "input-bg"      : rgba(black, .1),
    "input-border"  : rgba(black, .1),
    "input-shadow"  : rgba(black, .075),
    "input-colour"  : $emperor,
);

$search-header-colours: (
    "input-bg" : white,
    "input-border": $mecury,
    "input-shadow" : rgba(black, .075),
    "input-colour"  : $emperor,
);

$services-colours: (
    "bespoke-software"  : $hoki,
    "it-support"        : $havelock-blue,
    "digital-marketing" : $shamock,
    "telecoms-services" : $valencia,
    "web-design"        : $wisteria,
    "cyber-security"    : $radical-red,
    "developer-training": $punch,
);

$services-colours-hover: (
    "bespoke-software"  : ("bg" : #566c88, "border": #4e627b),
    "it-support"        : ("bg" : #2a6ec6, "border": #2665b5),
    "digital-marketing" : ("bg" : #26ab5f, "border": #239a55),
    "web-design"        : ("bg" : #7e57a0, "border": #735093),
);



// ---------ICONS----------------
$icon-star              : "\F005";
$icon-rarrow            : "\E906";
$icon-phone             : "\E902";
$icon-search            : "\E003";
$icon-paperplane        : "\E90C";
$icon-mouse             : "\E903";
$icon-checked           : "\E623";

$services-icons: (
    "bespoke-software"  : "\E918",
    "it-support"        : "\E905",
    "digital-marketing" : "\E904",
    "telecoms-services" : "\E902",
    "web-design"        : "\E908",
    "cyber-security"    : "\E900",
    "developer-training": "\E8DE",
);

$break-points : (
    "sm"    : 480px,
    "sm-btn": 481px,
    "md"    : 768px,
    "lg"    : 992px,
    "x-lg"  : 1260px,
);

$socials-icons: (
    "facebook"  : "\E907",
    "linkedin"  : "\F0E1",
    "twitter"   : "\E90B",
    "instagram" : "\E909",
);

$socials-colours: (
    "facebook"  : $chambray,
    "linkedin"  : $deep-cerulean,
    "twitter"   : $cerulean,
    "instagram" : $cerise,
);

$submenu-icons: (
    "fa-cogs"                       : "\F085",
    "glyph-briefcase"               : "\E139",
    "glyph-random"                  : "\E110",
    "glyph-phone "                  : "\E145",
    "glyph-folder-open"             : "\E118",
    "glyph-transfer"                : "\E178",
    "glyph-download-alt"            : "\E025",
    "fa-users"                      : "\F0C0",
    "fa-laptop"                     : "\F109",
    "fa-cloud"                      : "\F0C2",
    "fa-cloud-download"             : "\F0ED",
    "fa-globe"                      : "\F0AC",
    "glyph-headphones"              : "\E035",
    "fa-briefcase"                  : "\F0B1",
    "mdi-social-school"             : "\E8DE",
    "glyph-hdd"                     : "\E121",
    "fa-search"                     : "\F002",
    "fa-money"                      : "\F0D6",
    "mdi-action-trending-up"        : "\E68B",
    "fa-envelope"                   : "\F0E0",
    "fa-pencil"                     : "\F040",
    "fa-ticket"                     : "\F145",
    "fa-phone"                      : "\F095",
    "fa-phone-square"               : "\F098",
    "fa-tachometer"                 : "\F0E4",
    "icon-handshake-o"              : "\E910",
    "mdi-notification-phone-in-talk": "\E8B6",
    "glyph-shopping-cart"           : "\E116",
    "fa-desktop"                    : "\F108",
    "fa-bullhorn"                   : "\F0A1", 
    "glyph-cloud"                   : "\2601",
    "fa-clipboard"                  : "\F0EA",
    "fa-clock-o"                    : "\F017",
    "fa-flask"                      : "\F0C3",
    "mdi-hardware-security"         : "\E7C9",
    "fa-lock"                       : "\F023",
    "icon-code"                     : "\E908",
    "fa-question-circle"            : "\F059",
);


