@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$stack-poppins: 'Poppins', sans-serif;


$tuna-1: #323544;
$tuna-2: #333645;
$charade: #272936;
$dove-gray: #666;
$radical-red: #f62459;
$ebony-clay: #212330;
$tundora: #444;
$alto: #ddd;

$colour-footer-bg       : $tuna-1;
$colour-primary         : $tuna-2;
$colour-text            : $dove-gray;
$colour-dark-btn        : $charade;
$colour-cyber-security  : $radical-red;
$colour-footer-bg-drkr  : $ebony-clay;
$colour-newsletters-bg  : $alto;