.container{
    padding: 0px 15px;
    margin: 0 auto;

    @include mq("md"){
        width: 750px;
    }
    @include mq("lg"){
        width: 970px;
    }

    @include mq("x-lg"){
        width: 1200px;
    }

    &-branding{
        display: flex;
        flex-direction: column;
        gap: 50px;

        div{
            flex: 1;
        }

        @include mq("lg"){
            flex-direction: row;
            gap: 30px;
        }
    }
}

.article-news{
    position: relative;
    top: 0;
    flex: 1;

    @include mq("md"){
        h3{
            min-height: 3rem;
        }
    }

    @include mq-range("md", "x-lg"){
        &:last-child{
            @include hidden;
        }
        
    }
}

.article-content{
    padding: 30px;
    border: 1px solid $colour-article-border;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    font-size: .8125rem;
    
    box-shadow: 0 3px 35px $colour-article-shadow;

    h3{
        margin-bottom: 15px;
    }
}

.branding{
    background-color: $colour-primary;
    color: $white;

    a{
        color: $white;
        text-wrap: nowrap;
    }

    strong{
        font-weight: $font-weight-bold;
    }

    
} 



.client-quote{
    margin: 0px;
}

.star-rating{
    margin-bottom: 25px;
}

.client{
    margin-bottom: 50px;
}

.top-link{
    @include show-at-viewport("md");
}

.services{
    position: relative;
}

.btm-link{
    &-services{
        @extend %btm-link;
        @include abs-pos($b:-5px,$l:0, $r:0);
    }

    &-news{
        @extend %btm-link;
        margin: 50px auto 0;
    }
}




.card{
    border: 1px solid $colour-card-border;
    box-shadow: 0 3px 35px $colour-card-shadow;
    text-align: center;
    border-radius: 15px;
    a{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 30px;
    }

    .btn{
        margin-top: auto;
    }
}

.cards-services{
    display: grid;
    gap: 30px;

    @include mq("md"){
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "bespoke-software bespoke-software"
        "it-support it-support"
        "digital-marketing digital-marketing"
        "telecoms-services web-design"
        "cyber-security developer-training";
    }

    @include mq("lg"){
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "bespoke-software bespoke-software it-support it-support digital-marketing digital-marketing"
        "telecoms-services telecoms-services telecoms-services web-design web-design web-design"
        "cyber-security cyber-security cyber-security developer-training developer-training developer-training";
    }

    @include mq("x-lg"){
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "bespoke-software bespoke-software bespoke-software bespoke-software it-support it-support it-support it-support digital-marketing digital-marketing digital-marketing digital-marketing"
        "telecoms-services telecoms-services telecoms-services web-design web-design web-design cyber-security cyber-security cyber-security developer-training developer-training developer-training";
    }
    
}



@each $service, $colour in $services-colours{
    .card-#{$service}{
        @include mq("md"){
            grid-area: #{$service};
        }
    }

    .wrapper-#{$service}{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @include circle-icon(65px, $colour);
        margin-bottom: 17px;
    }
    
}

.banners{
    padding: 0;
}

.carousel{
    position: relative;

    @each $service, $styles in $carousel-styles{
        &-#{$service}{
            @include services-carousel($service);
        }
    }

    .slick-list{
        padding: 0;
    }
}

.container-carousel{
    display: flex;
    flex-direction: column;
    @include py(60px);
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 100%;

    @include mq("lg"){
        align-items: start;
        text-align: left;
    }
}

.wrapper-news{
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mq("md"){
        flex-direction: row;
    }
}

.link-article{
    display: inline-block;
    @include abs-pos(0, 0, 0, 0);
    z-index: 1;
}

.newsletter{
    background-color: $colour-newsletters-bg;
}


.owl-stage{
    display: flex;
    overflow-x: clip;
    height: 70px;

    .slick{
        &-list{
            overflow-x: clip;
            overflow-y: visible;
            padding-left: 20px;
        }

        &-track{
            height: 100%;
        }

    }
}

.slick-initialized .slick-slide{
    display: flex;
}

.owl-item{
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 90px;

    img{
        filter: grayscale(1);
        width: auto;
        max-width: 200px;
        max-height: 100%;
    }
}

.owl-description{
    @include hidden;
    @include abs-pos($r:-200px, $l:-200px, $b:100%);

    .box{
        background-color: $colour-primary;
        color: $white;
        padding: 20px;
        font-size: .875rem;
        max-width: 280px;
        margin: 0 auto 50px;
        text-align: center;

        h3{
            font-size: 1.125rem;
            padding-bottom: 17px;
            line-height: 1.1;
            font-weight: $font-weight-normal;
        }

        .no-description{
            padding: 0 !important;
        }

        p{
            font-size: .8125rem;
            line-height: 1.375rem;
            margin: 0;
        }

        a{
            color: $white;
            margin-top: 11px;
        }

        .icon-rarrow-btn{
            font-size: 16px;
        }

        
    }
}


.arrow{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -36px;

    &::after{
        content: "";
        margin: auto;
        display: inline-block;
        border-color: $colour-primary transparent transparent;
        border-style: solid;
        border-width: 35px 36px 0;
    }
}

.news{
    padding-bottom: 35px;

    @include mq("md"){
        padding-bottom: 50px;
    }
}

.partners{
    @include py(50px);
}

.cookie{
    &-wrapper{
        @include fixed-pos();
        inset: 0;
        z-index: 100;
        background-color: $colour-cookie-wrapper-bg;
        padding: 30px;
        display: flex;
        justify-content: center;
        overflow: scroll;
    }

    &-modal{
        display: table;
        margin: auto 0;
        background-color: white;
        border: 1px solid rgba(black, .2);
        box-shadow: 0 3px 9px rgba(0,0,0,.5);
        border-radius: 5px;

        @include mq("md"){
            width: 600px;
        }
    }
}

.no-show .cookie-wrapper{
    display: none;
}

.modal-content{
    padding: 20px;
    color: map-get($modal-styles, "content-colour");
}

.sidebar{
    background-color: $colour-primary;
    @include fixed-pos($t:0, $r:0);
    z-index: 9;
    height: 100%;
    width: 275px;
    overflow: auto;

    @include mq("lg"){
        width: 350px;
    }
}

.content{
    position: relative;
    overflow: hidden;
    height: 100%;
    z-index: 10;
    background-color: white;
    right: 0;
    transition: all .5s;

    &-inner{
        height: 100%;
        overflow: auto;
    }

    &::after{
        content: "";
        @include abs-pos($t:0, $r:0);
        z-index: 10;
        background: rgba(0,0,0,.4);
        width: 0;
        height: 0;
        opacity: 0;
        transition: opacity .5s;
    }

    &.sidebar-active{
        right: 275px;
        cursor: pointer;

        &::after{
            width: 100%;
            height: 100%;
            opacity: 1;
        }

        @include mq("lg"){
            right: 350px;
        }
    }
}

.location-container{
    padding: 0;
}

.breadcrumb-wrapper{
    @include show-at-viewport("md");
}


.office{
    &-title{
        background-color: $colour-primary;
        padding: 24px 0;
        margin-bottom: 50px;
    }

    &-cards{
        margin-top: 80px;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;

    }

    &-card{
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 3px 35px rgba(0,0,0,.1);
        border: 1px solid #ccc;
    }

    &-details{
        display: flex;
        padding: 30px;
        gap: 15px;
        flex-direction: column;
        align-items: start;

        p{
            margin: 0;
        }
    }

    &-img{
        width: 100%;
        height: auto;

        &-link{
            display: flex;
        }
    }
}

.contact-us-container{
    padding-top: 44px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;

    p{
        margin: 0;
    }
}

.dropdown{
    font-weight: $font-weight-bold;
}


#dropdown-content{
    display: none;
}