.footer-main{
    padding-top: 27px;
    background-color: $colour-footer-bg;

    @include mq("x-lg"){
        padding-top: 47px;
    }

    h4{
        margin-bottom: 26px;
        line-height: 17.6px;
    }
}

.footer-article{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $colour-article-border;
    display: flex;
    align-items: center;
    gap: 20px;

    strong{
        display: block;
    }
}

.socials{
    display: flex;
    width: 234px;
    gap: 10px;
    flex-wrap: wrap;
    

    .btn{
        @include flex-columns(2, 10px);
    }

    @include mq("sm-btn"){
        width: 300px;
        flex-wrap: nowrap;

        .btn{
            flex: 0;
        }
    }

    @include mq("x-lg"){
        gap: 7px;
    }

   
}

.info-footer{
    display: inline-block;
    padding-bottom: 15px;
    margin-bottom: 30px;

    @include mq("md"){
        padding-bottom: 10px;
    }
}

.footer-bottom{
    background-color: $colour-footer-bg-drkr;
    padding-top: 10px;
}

.p-footer{
    margin-bottom: 0;
    color: $white;

    span:last-of-type::before{
        content: "- ";
    }
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 0px 80px;

    @include mq("x-lg"){
        flex-direction: row;
    }
}
