.heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    
    h2{
        margin-right: auto;
    }
}

.header-top{
    padding: 20px 0;
}


.row{
    @include mx(-15px);
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    height: 70px;

    .logo-header{
        margin-right: auto;
        @include px(15px);
        width: percentage(5/12);
    }
}


.link-mobile{
    @include mq("md"){
        @include hidden;
    }
}

.header-article{
    position: relative;
    margin-bottom: 259.531px - 266.031px;

    .tag{
        
        @include abs-pos($t: 10px, $r: 0);
        padding: 0 10px;

        @each $service, $colour in $services-colours{
            &-#{$service}{
                background-color: $colour;
            }
        }
    }
}