.heading{
    &-services{
        @extend %heading;
        align-items: end;
    }

    &-news{
        @extend %heading;
        align-items: start;
    }

    // display: flex;
    // justify-content: flex-start;
    // align-items: end;
    // margin-bottom: 40px;
    
    // h2{
    //     margin-right: auto;
    // }
}

.header-top{
    padding: 20px 0;
}


.row{
    margin-left: -15px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    height: 70px;

    .logo-header{
        margin-right: auto;
        padding-left: 15px;
        display: block;
        max-height: 100%;

        width: 100%;

        @include mq("md"){
            padding-right: 15px;
            width: calc((100% + 15px) / 2);
        }

        @include mq("lg"){
            width: calc((100% + 15px) * 5 / 12);
        }

        @include mq("x-lg"){
            width: calc((100% + 15px) / 3);
        }

        .logo-inner{
            display: flex;
            height: 100%;
            justify-content: left;
        }

        img{
            object-fit: contain;
            object-position: left;
            aspect-ratio: auto;
        }
    }
}


.link-mobile{
    margin-left: -5px;
    @include mq("md"){
        @include hidden;
    }
}

.header-article{
    position: relative;
    margin-bottom: 259.531px - 266.031px;

    .tag{
        
        @include abs-pos($t: 10px, $r: 0);
        padding: 0 10px;

        @each $service, $colour in $services-colours{
            &-#{$service}{
                background-color: $colour;
            }
        }
    }
}