.branding-title{
    margin: -6px 0 40px;
}

.quote{
    strong{
        font-style: italic;
        font-size: 1.3rem;
    }
}

.client{
    font-weight: $font-weight-bold;
    cite{
        color: $colour-citation;
        font-style: normal;
        font-size: 1.1rem;
    }
}

.header-services{
    display: inline;
    font-size: 2.7rem;
}

.header-news{
    display: inline;
    font-size: 2.25rem;
}

.card{
    h2{
        font-size: 1.3rem;
        padding-bottom: 10px;
        margin: 0 0 11px;
        font-weight: $font-weight-normal;
    }
    p{
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 13px;
    }
}

.btn-cookie{
    line-height: 22px;
    font-weight: $font-weight-bold;
    font-size: .8rem;
    text-transform: capitalize;
    color: $white;
}

.carousel{
    color: $white;

    h1{
        font-size: 2.5rem;
        line-height: 3rem;

        @include mq("lg"){
            font-size: 4rem;
            line-height: 5rem;
        }
    }

    p{
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: $font-weight-bold;

        @include mq("lg"){
            font-size: 1.625rem;
            line-height: 2.5rem;
        }
    }
    a{
        font-size: 1.25rem;
    }
}

.tag{
    text-transform: uppercase;
    color: white;
    font-weight: $font-weight-bold;
    font-size: .75rem;
    line-height: 1.438rem;
    z-index: 1;
}

.article-content{
    color: $colour-article-text;

    h3{
        font-size: 1rem;
        line-height: 1.5rem;
    }

    p{
        line-height: 1.375rem;
        font-size: .8125rem;
    }

    .read-time{
        text-transform: uppercase;
        font-weight: $font-weight-normal;
        color: $colour-read-time;
        font-size: .85rem;
    }
}

@each $service, $colour in $services-colours{
    .title-#{$service}{
        color: $colour;
    }
}

.footer-article{
    
    font-size: .875rem;
    line-height: 1.375rem;

    strong{
        color: black;
        font-weight: $font-weight-bold;
    }
}

.footer-main{
    h4{
        color: $white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: $font-weight-normal;
    }
}

.p-footer{
    display: flex;
    font-size: .8125rem;
    line-height: 1.42857143;
    flex-direction: column;
    padding: 5px 0 10px;
    justify-content: flex-start;
    align-items: start;

    @include mq("md"){
        display: inline-block;
        margin-top: -2px;
    }

    span{
        color: $white;

        &:last-of-type{
            line-height: 1.375rem;
            margin-top: -2px;
            @include mq("md"){
                margin-left: -3px;
            }
        }
    }

    a{
        color: $white;
    }

    span:last-of-type::before{
        content: "-";
        @include mx(9px);
        display: none;

        @include mq("md"){
            display: inline;
        }
    }
}

.office{
    &-title{
        color: $white;
        h2{
            font-size: 2.25rem;
            font-weight: $font-weight-normal;
        }

        @include mq("lg"){
            color: $colour-primary;
        }
    }

    &-details{
        p{
            font-size: .8125rem;
            line-height: 1.375rem;
            color: $colour-ooh-text;
        }
    }
    &-card-title{
        font-size: 1.25rem;
        line-height: 1.1;
    }
    
    &-contact-link{
        color: $colour-office-link;
        font-weight: 700;
        font-size: 1.625rem;
        line-height: 1.1;
    }
}

.contact-info{    
    .office-contact-link, strong{
        font-weight: $font-weight-bold;
    }
}

.out-of-hours{
    p{
        color: $colour-ooh-text;
    }

    strong{
        color: $colour-primary;
        font-weight: $font-weight-bold;
    }
}

.breadcrumb{
    font-size: .8125rem;
    line-height: 1.42857143;

    .home-link{
        font-weight: 700;
    }

    .slash{
        user-select: none;
    }
}

