*, ::after, ::before{
    box-sizing: border-box;
}

body{
    font-family: $stack-poppins;
    color: $colour-text;
    letter-spacing: .4px;
}

a{
    text-decoration: none;
}

hr{
    background-color: $colour-text;
}