*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
}

body{
    @include base-font;
    color: $colour-text;
    letter-spacing: .4px;
    margin: 0px;
}

button{
    @include base-font;
}

input{
    @include base-font;
}

a{
    text-decoration: none;
    color: $colour-text;
}

h1{
    font-size: 4rem;
    line-height: 5rem;
    @extend %bold;
}

h2{
    line-height: 1.1;
    font-size: 2.25rem;
    @extend %bold;
}

h3{
    font-size: 1.625rem;
    @extend %bold;
}

p{
    line-height: 1.875rem;
    margin: 0 0 25px;
}

article{
    @include base-transition;
}