*, ::after, ::before{
    box-sizing: border-box;
}

body{
    font-family: $stack-poppins;
    color: $colour-text;
    letter-spacing: .4px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: $colour-text;
}

h2{
    line-height: 1.1;
    font-size: 2.25rem;
}

h3{
    font-size: 1.625rem;
    font-weight: $font-weight-bold;
}

p{
    line-height: 1.875rem;
    margin: 0 0 25px;
}