.btn{
    text-transform: uppercase;
    display: inline-flex;
    color: $white;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    background-color: $colour-primary;
    font-size: 1.063rem;
    font-weight: $font-weight-normal;
    border: 1px solid transparent;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;

    &-prim{
        background-color: $colour-btn-dark;
        padding: 10px 30px;
        border-radius: 6px;
        font-size: 20px;
    }

    &-header{
        @include hidden;
        height: 56px;
        line-height: 46px;
        font-size: 1.125rem;

        @include mq("lg"){
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    &-cookie{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;
        background-color: $colour-cookie-bg;
        border: solid $colour-cookie-bg;
        border-width: 1px 1px 0 0;
        border-radius: 0 10px 0 0;
        padding: 0 10px; 
    }

    &-chat{
        position: fixed;
        padding: 0;
        right: 25px;
        bottom: 25px;
        z-index: 99;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        @include circle-icon(60px, $colour-primary);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            width: 80%;
            padding: 11px;
            fill:$white;

            rect{
                fill: $colour-primary;
            }
        }
    }
  
    &-hamburger{
        @include no-border;
        display: flex;
        align-items: center;
        height: 56px;
    }

    &-search-header{
        display: inline-block;
        outline: none;
        padding: 7px 20px 3px;
        height: 56px;
        font-size: 1.063rem;
        border-radius: 0 3px 3px 0;
        border: none;
        vertical-align: bottom;
        color: $white;

        @include mq-range("lg", "x-lg"){
            border-radius: 3px;
        }
    }

    &-search-mobile{
        background: none;
        border: none;
        color: $colour-primary;
        @include abs-pos($r: 5px);
        line-height: 47px;
        font-size: 20px;
        outline: none;
    }

    @each $social, $colour in $socials-colours{
        &-#{$social}{
            border: none;
        }
    }

    @each $btn, $colour in $btn-colours{
        &-#{$btn}{
            @if $btn == "google" or $btn == "trustpilot"{
                border: none;
            }
            background-color: $colour;
        }
    }

    &-carousel{
        background-color: map-get($services-colours, "cyber-security");
        padding: 5px 20px;
        line-height: 50px;
        i{
            line-height: 50px;
        }
    }

    &-case-study{
        font-size: 16px;
    }
}

.btns{
    display: inline-flex;
    flex-flow: row wrap;
    gap: 17px 9.5px;
    &-quote{
        gap: 20px 12.5px;
    }
}

@each $service, $colour in $services-colours{
    .btn-#{$service}{
        background-color: $colour;
    }
}

@each $social, $colour in $socials-colours{
    .btn-#{$social}{
        background-color: $colour-btn-social;
        align-items: center;
        justify-content: center;
        padding: 12px 22px 16px;
        border-radius: 0;
    }
}

.dots{
    @include abs-pos($r: 0, $b: (22.85px - 11px) / 2 + 44px, $l: 0);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.dot{
    display: block;
    @include circle-icon(11px, rgba($white, 0.5));
    position: relative;
    
    &-wrapper{
        padding: 0 10px;
        display: inline-block;
        user-select: none;
    }

    &-active{
        background-color: $white;

        &::after{
            content: "";
            @include abs-pos($t: -6px, $l: -6px);
            @include circle-icon(23px, transparent);
            border: 2px solid $white;
        }

    }
}

.hamburger{
    &-box{
        width: 33px;
        height: 19px;
        display: inline-block;
        position: relative;
        
    }

    &-inner{
        @include hamburger-slice;
        top: 50%;
        margin-top: -1.5px;

        &::before{
            content: '';
            top: -10px;
            @include hamburger-slice;

        }

        &::after{
            content: '';
            bottom: -10px;
            @include hamburger-slice;
        }
    }
   
}
