.btn{
    text-transform: uppercase;
    display: inline-flex;
    color: $white;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    background-color: $colour-btn-dark;
    font-size: 1.063rem;
    font-weight: $font-weight-normal;
    border: 1px solid transparent;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;

    &-prim{
        padding: 10px 30px;
        border-radius: 6px;
        font-size: 20px;
    }

    &-google{
        @include no-border;
        background-color: $colour-btn-google;
        
    }

    &-trustpilot{
        @include no-border;
        background-color: $colour-btn-trustpilot;
        white-space: nowrap;
        max-width: fit-content;
        
    }

    &-carousel{
        background-color: map-get($services-colours, "cyber-security");
        padding: 5px 20px;
        line-height: 50px;
        i{
            line-height: 50px;
        }
    }
}

.btns{
    display: inline-flex;
    flex-flow: row wrap;
    gap: 17px 8px;
    &-quote{
        gap: 20px 8px;
    }
}

@each $service, $colour in $services-colours{
    .btn-#{$service}{
        background-color: $colour;
    }
}

.dots{
    position: absolute;
    left: 0;
    right: 0;
    bottom:  (22.85px - 11px) / 2 + 44px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dot{
    @include circle-icon(11px, rgba($white, 0.5));
    position: relative;

    &-active{
        background-color: $white;

        &::after{
            content: "";
            position: absolute;
            top: -6px;
            left: -6px;
            @include circle-icon(23px, transparent);
            border: 2px solid $white;
        }

    }
}
