[class^="icon-"], [class*=" icon-"] {
    font-family:  $font-iconmoon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="fa-"], [class*=" fa-"] {
    font-family:  $font-fa;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class*=" mdi-"],[class^=mdi-] {
    font-family: $font-mdi;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class*=" glyph-"],[class^=glyph-] {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: $font-glyph;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-rarrow{
    &-link{
        @extend %icon-rarrow;
    }
    &-btn{
        @extend %icon-rarrow;
        font-size: 20px;
        margin-right: -4px;
        margin-left: 12px;
        display: inline-block;
        line-height: 35px;
    }
}

.icon{
    &-mouse{
        @include icon($icon-mouse, $fsize: 1.438rem);
    }    
    &-paperplane{
        @include icon($icon-paperplane, $fsize: 1.438rem);
    }
    &-phone{
        @include icon($icon-phone, $fsize: 32px);
    }
}


.glyph-search{
    @include icon($icon-search);
}

.i-header{
    font-size: 23px;
}

.fa-star{
    margin-bottom: 25px;
    @include icon($icon-star, $colour-star, 50px);
}

.mdi-checked{
    @include icon($icon-checked, $white, 22px){
        @include abs-pos(0,0,0,0);
        background-color: $colour-primary;
        line-height: 26px;
        text-align: center;
    }

}

@each $service, $icon in $services-icons{
    @if $service == "developer-training"{
        .mdi-#{$service}{
            @include icon($icon, $white, $fsize: 2rem);
        }
    }
    @else{
        .icon-#{$service}{
            @include icon($icon, $white, $fsize: 2rem);
        }
    }
}

@each $social, $icon in $socials-icons{
    @if $social == "linkedin"{
        .fa-#{$social}{
            @include icon($icon, $white, $fsize: 26px);
            // @include py(1.25px);
            padding-top: 2.5px;
        }
    }
    @else{
        .icon-#{$social}{
            @include icon($icon, $white, $fsize: 26px);
            // @include py(1.25px);
            padding-top: 2.5px;
        }
    }
}

@each $submenu, $icon in $submenu-icons{
    .#{$submenu}{
        @include icon($icon, $white);
    }

}
