[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family:  $font-iconmoon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rarrow{
    &-link{
        @extend %icon-rarrow;
    }
    &-btn{
        @extend %icon-rarrow;
        font-size: 20px;
        margin-right: -4px;
        margin-left: 12px;
        display: inline-block;
        line-height: 35px;
    }
}

.icon-star{
    margin-bottom: 25px;
    @include icon("\e9d9", $colour-star, 50px);
}

