.nav{
    &-footer{
        padding-left: 0;
        li{
            list-style: none;
            font-size: .8125rem;
            line-height: 1.375rem; 
        }
        a{
            color: white;
        }
        
    }
}

.navs-header{
    background-color: $colour-primary;
    position: relative;
    @include hidden;

    .nav-header{
        display: flex;
        padding: 0;

    }

    li{
        list-style: none;
    }

    .nav-item-header{
        @include flex-columns(7);
        
    }

    @include mq("lg"){
        display: block;
    }

    .submenu{
        @include hidden;
    }
}

.nav-link{
    text-align: center;
    color: $white;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 19px 0 18px;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1;

    @each $service, $colour in $services-colours{
        @if $service == "developer-training"{
            .mdi-#{$service}::before{
                color: $colour;
                font-size: 1.438rem;
                
            }
        }
        @else{ 
            .icon-#{$service}::before{
                color: $colour;
                font-size: 1.438rem;
            }
        }

    }

    i{
        
        padding-bottom: 10px;
    }

    small{
        display: block;
        font-size: .625rem;
        padding-bottom: 1px;
    }
}

.navs-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;

    @include mq("md"){
        flex-direction: row;
        flex-wrap: wrap;
        nav{
            @include flex-columns(2, 30px);
        }
    }

    @include mq("lg"){
        nav{
            @include flex-columns(4, 30px);
        }
    }

    @include mq("x-lg"){
        padding-bottom: 40px;

        nav{
            width: 170px;
        }
    }
}

.submenu{
    @include py(50px);

    &-items{
        display: flex;
        flex-wrap: wrap;
        gap: 15px .938rem;
        align-items: center;
        padding-right: calc(10px + .938rem);
        margin-top: calc(15px + 4px);
    }

    &-item{
        @include flex-columns(3, .938rem);
        font-size: 1.2rem;
        line-height: 1.313rem;
        
        @include py(10px);
    }

    &-link{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1.313rem;


        i{
            margin-right: 10px;
            min-width: 25px;
        }
        
    }
}

.nav-submenu{
    padding: 0;
    margin-top: -4px;
}

.title-submenu{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    
}
