.branding-title{
    margin: -6px 0 40px;
}

.quote{
    strong{
        font-style: italic;
        font-size: 1.3rem;
    }
}

.client{
    font-weight: $font-weight-bold;
    cite{
        color: $colour-citation;
        font-style: normal;
        font-size: 1.1rem;
    }
}